* https://www.kaggle.com/competitions/nbme-score-clinical-patient-notes/data
* https://www.kaggle.com/datasets/datatattle/covid-19-nlp-text-classification
* https://www.kaggle.com/datasets/clmentbisaillon/fake-and-real-news-dataset/code?datasetId=572515&sortBy=voteCount
* https://www.kaggle.com/code/avikumart/nlp-news-articles-classif-wordembeddings-rnn
* https://www.kaggle.com/code/rcushen/topic-modelling-with-lsa-and-lda

Seperate models for each prediction?

Feed predictions from previous models and append and then feed to next model?

LSTM and GAN

Use a pre-existing model as text are complex

Todo:

Fix Line Break \r\n in Articles column

Task 1: Find articles that are similar, main idea is to use a web crawler and if the article is similar, input that article into phase 2

* Percentage based output, treat it as a classification

Task 2: Predict basic columns first such as date of event, state, district, date of report, villages, country, number of casualties(elephant/humans)

In [1]:
import pandas as pd
#import spacy_transformers
import numpy as np
#import tensorflow as tf
#import tensorflow_hub as hub
#import tensorflow_text as text  # Imports TF ops for preprocessing.
import matplotlib.pyplot as plt
import seaborn as sns
import gc
from sklearn.model_selection import train_test_split
import nltk
from nltk.collocations import *
#print("Version: ", tf.__version__)
#print("Eager mode: ", tf.executing_eagerly())
#print("Hub version: ", hub.__version__)
#print("GPU is", "available" if tf.config.list_physical_devices('GPU') else "NOT AVAILABLE")

# Loading data and removing Nan's

In [3]:
df = pd.read_csv("data/STE HEC - Master 10.0.2 - Elephant Death & Injury(1).csv", sep=',')
#df.to_excel("data.xlsx")
pd.set_option('max_colwidth', 400)
df.columns

Index(['Article  ID', 'Datefixed', 'Date (Event)', 'Time', 'Village/Place',
       'Sub-District', 'Beat', 'Range', 'Division', 'District', 'State',
       'Country', 'Latitude (DD)', 'Longitude (DD)', 'Herd', 'All male',
       'Total', 'Alcohol', 'Captive?', 'Injured Male', 'Injured Female',
       'Einjured', 'Killed Male', 'Killed Female', 'Edeath', 'Name', 'Age',
       'Gender', 'Alcohol.1', 'Cause of Death/Injury', 'Accidental?',
       'During HEC Encounter', 'Retaliatory', 'Poaching', 'Human Death/Injury',
       'Attractant', 'Area (Forest, Ag, Village, Habitation, Urban)',
       'Legal Electric Fence', 'Fence Broken', 'Elephant Proof Trenches ',
       'Drive away Elephants ', 'Guns', 'Loud Sounds', 'Fine', 'Fine Amount',
       'Jail Sentence', 'Other', 'Comments', 'Links', 'Source', 'Title',
       'Date Published', 'Article', 'No. of Articles'],
      dtype='object')

In [29]:
df.isnull().sum(axis = 0)

Article  ID                                        0
Datefixed                                          0
Date (Event)                                       0
Time                                               0
Village/Place                                      0
Sub-District                                       0
Beat                                               0
Range                                              0
Division                                           0
District                                           0
State                                              0
Country                                            0
Latitude (DD)                                      0
Longitude (DD)                                     0
Herd                                               0
All male                                           0
Total                                              0
Alcohol                                            0
Captive?                                           0
Injured Male                                       0
Injured Female                                     0
Einjured                                           0
Killed Male                                        0
Killed Female                                      0
Edeath                                             0
Name                                               2
Age                                                2
Gender                                             2
Alcohol.1                                          0
Cause of Death/Injury                              0
Accidental?                                        0
During HEC Encounter                               0
Retaliatory                                        0
Poaching                                           0
Human Death/Injury                                 0
Attractant                                       399
Area (Forest, Ag, Village, Habitation, Urban)      1
Legal Electric Fence                               0
Fence Broken                                       0
Elephant Proof Trenches                            0
Drive away Elephants                               0
Guns                                               0
Loud Sounds                                        0
Fine                                               0
Fine Amount                                        0
Jail Sentence                                      0
Other                                            778
Comments                                           0
Links                                              0
Source                                             0
Title                                              0
Date Published                                     1
Article                                            1
No. of Articles                                    1
dtype: int64

In [30]:
df.dropna(subset=['Date Published', 'Article', 'No. of Articles', 'Area (Forest, Ag, Village, Habitation, Urban)'], inplace=True)

In [31]:
df.dtypes

Article  ID                                       object
Datefixed                                         object
Date (Event)                                      object
Time                                              object
Village/Place                                     object
Sub-District                                      object
Beat                                              object
Range                                             object
Division                                          object
District                                          object
State                                             object
Country                                           object
Latitude (DD)                                     object
Longitude (DD)                                    object
Herd                                              object
All male                                          object
Total                                             object
Alcohol                                           object
Captive?                                          object
Injured Male                                      object
Injured Female                                    object
Einjured                                          object
Killed Male                                       object
Killed Female                                     object
Edeath                                            object
Name                                              object
Age                                               object
Gender                                            object
Alcohol.1                                         object
Cause of Death/Injury                             object
Accidental?                                        int64
During HEC Encounter                               int64
Retaliatory                                        int64
Poaching                                           int64
Human Death/Injury                                 int64
Attractant                                        object
Area (Forest, Ag, Village, Habitation, Urban)     object
Legal Electric Fence                               int64
Fence Broken                                       int64
Elephant Proof Trenches                            int64
Drive away Elephants                               int64
Guns                                               int64
Loud Sounds                                        int64
Fine                                               int64
Fine Amount                                       object
Jail Sentence                                      int64
Other                                             object
Comments                                          object
Links                                             object
Source                                            object
Title                                             object
Date Published                                    object
Article                                           object
No. of Articles                                  float64
dtype: object

# Constructing training set to mimic data that scrapes from the internet

Assuming that when article is scraped from the internet, only date of article published, the publisher, and the article is left.

How to deal with line breaks(\r\n)

In [32]:
# Make sure dates are of same structure and change data type
df['Date Published'].unique()

array(['20-01-2004', '27-01-2004', '29-01-2004', '27-02-2004',
       '25-02-2004', '25-03-2004', '05-04-2004', '10-04-2004',
       '24-05-2004', '19-09-2004', '28-10-2004', '08-11-2004',
       '28-11-2004', '05-03-2005', '17-03-2005', '15/2/2005',
       '13-05-2005', '27-06-2005', '06-11-2005', '09-11-2005',
       '01-12-2005', '05-12-2005', '13-12-2005', '02-01-2006',
       '12-01-2006', '01-03-2006', '05-03-2006', '12-03-2006',
       '14-03-2006', '28-03-2006', '16-04-2006', '09-05-2006',
       '18-05-2006', '12-06-2006', '22-09-2006', '06-10-2006',
       '09-10-2006', '13-10-2006', '18-10-2006', '02-11-2006',
       '13-11-2006', '16-12-2006', '14-03-2007', '27-06-2007',
       '11-07-2007', '12-07-2007', '20-07-2007', '01-08-2007',
       '26-07-2007', '19-08-2007', '01-09-2007', '19-09-2007',
       '16-10-2007', '23-10-2007', '25-11-2007', '04-01-2008',
       '11-01-2008', '01-05-2008', '09-05-2008', '02-06-2008',
       '13-06-2008', '23-06-2008', '20-06-2008', '22-06-2008',
       '24-06-2008', '19-07-2008', '23-07-2008', '29-07-2008',
       '12-01-2008', '14-10-2008', '26-01-2009', '22-02-2006',
       '26-02-2009', '27-02-2009', '09-03-2009', '14-03-2009',
       '08-05-2009', '27-05-2009', '02-06-2009', '07-06-2009',
       '11-06-2009', '15-06-2009', '16-06-2009', '09-07-2009',
       '10-07-2009', '11-08-2009', '16-08-2009', '26-08-2009',
       '14-09-2009', '19-09-2009', '02-10-2009', '08-10-2009',
       '11-10-2009', '23-10-2009', '27-10-2009', '22-11-2009',
       '12-11-2009', '28-11-2009', '30-11-2009', '31-12-2009',
       '01-01-2009', '06-01-2010', '04-03-2010', '15-03-2010',
       '24-03-2010', '29-03-2010', '09-04-2010', '21-04-2010',
       '23-04-2010', '25-04-2010', '09-05-2010', '03-05-2010',
       '29-05-2010', '17-07-2010', '18-07-2010', '01-08-2010',
       '02-08-2010', '03-08-2010', '13-08-2010', '02-09-2010',
       '25-09-2010', '27-09-2010', '07-10-2010', '09-10-2010',
       '14-10-2010', '12-10-2010', '28-10-2010', '24-10-2010',
       '26-10-2010', '27-10-2010', '09-11-2010', '21-12-2010',
       '24-11-2010', '28-11-2010', '30-11-2010', '01-12-2010',
       '08-12-2010', '04-12-2010', '16-12-2010', '17-12-2010',
       '22-12-2010', '23-12-2010', '03-01-2011', '07-01-2011',
       '06-01-2011', '12-01-2011', '13-01-2011', '16-01-2011',
       '17-01-2011', '26-01-2011', '28-01-2011', '27-01-2011',
       '08-02-2011', '30-01-2011', '02-02-2011', '14-02-2011',
       '27-03-2011', '2011-04-04', '02-04-2011', '05-04-2011',
       '15-04-2011', '26-04-2011', '05-05-2011', '11-05-2011',
       '31-05-2011', '20-06-2011', '08-07-2011', '26-07-2011',
       '07-08-2011', '09-08-2011', '19-08-2011', '24-11-2011',
       '15-09-2011', '17-09-2011', '25-09-2011', '06-10-2011',
       '18-10-2011', '19-10-2011', '06-11-2011', '07-12-2011',
       '19-11-2011', '15-12-2011', '22-12-2011', '23-12-2011',
       '05-01-2012', '15-01-2011', '14-01-2012', '30-01-2012',
       '13-02-2012', '2012-06-13', '12-04-2012', '2012-05-16',
       '2012-05-19', '2012-05-17', '07-05-2012', '2012-06-01',
       '2012-06-07', '2012-06-08', '2012-06-19', '2012-06-22',
       '23-06-2012', '30-10-2012', '19-08-2012', '14-09-2012',
       '2012-09-26', '08-10-2012', '12-10-2012', '22-10-2012',
       '12-11-2012', '19-11-2012', '29-11-2012', '06-12-2012',
       '04-12-2012', '2013-01-18', '2013-01-29', '2013-01-30',
       '2013-02-12', '2013-02-25', '2013-02-15', '2013-03-13',
       '2013-04-15', '2013-04-18', '2013-05-04', '2013-05-28',
       '2013-06-03', '2013-06-05', '2013-06-08', '2013-06-14',
       '2013-06-29', '2013-07-09', '2013-07-15', '2013-07-26',
       '2013-08-23', '2013-09-06', '2013-09-13', '2013-09-15',
       '2013-10-11', '2013-10-21', '2013-10-22', '2013-11-12',
       '2013-11-23', '2013-11-26', '2013-11-28', '2013-12-26',
       '2013-12-27', '09-01-2014', '03-01-2014', '04-02-2014',
       '25-01-2014', '01-02-2014', '03-02-2014', '15-04-2014',
       '28-02-2014', '27-02-2014', '19-03-2014', '09-03-2014',
       '13-03-2014', '23-03-2014', '08-04-2014', '18-04-2014',
       '20-04-2014', '22-05-2014', '11-05-2014', '10-05-2014',
       '03-06-2014', '19-06-2014', '18-07-2014', '31-07-2014',
       '02-08-2014', '08-08-2014', '18-08-2014', '20-08-2014',
       '08-09-2014', '19-09-2014', '08-10-2014', '18-10-2014',
       '22-10-2014', '02-11-2014', '01-11-2014', '20-11-2014',
       '21-11-2014', '27-11-2014', '24-11-2014', '29-11-2014',
       '2015-01-05', '2015-09-20', '2015-01-31', '2015-02-02',
       '2015-02-06', '2015-02-15', '2015-11-14', '2015-03-22',
       '2015-05-23', '2015-04-14', '2015-04-13', '2015-04-16',
       '2015-05-20', '2015-04-21', '2015-05-25', '2015-06-14',
       '2015-06-18', '2015-06-20', '2015-06-23', '2015-07-24',
       '2015-07-03', '2015-07-04', '2015-07-05', '2015-07-07',
       '2015-07-15', '2015-07-17', '2015-07-22', '2015-08-13',
       '2015-09-03', '2015-09-19', '2015-09-15', '2015-09-13',
       '2015-09-22', '2015-10-07', '2015-10-12', '2015-10-19',
       '2015-10-15', '2015-10-22', '2015-10-25', '2015-11-23',
       '2015-11-04', '2015-11-10', '2015-11-12', '2015-11-18',
       '2015-11-21', '2015-11-22', '2015-11-26', '2015-11-28',
       '2015-11-29', '2015-11-30', '2015-12-04', '2015-12-10',
       '2015-12-14', '2015-12-18', '2015-12-28', '03-01-2016',
       '06-03-2016', '10-01-2016', '19-01-2016', '20-01-2016',
       '24-01-2016', '31-01-2016', '29-01-2016', '07-02-2016',
       '02-02-2016', '03-02-2016', '10-02-2016', '15-02-2016',
       '16-02-2016', '18-02-2016', '28-02-2016', '03-03-2016',
       '01-03-2016', '09-03-2016', '11-03-2016', '21-03-2016',
       '22-03-2016', '25-03-2016', '27-03-2016', '07-04-2016',
       '11-04-2016', '16-04-2016', '20-05-2016', '22-05-2016',
       '29-05-2016', '30-05-2016', '06-06-2016', '07-06-2016',
       '11-06-2016', '15-06-2016', '12-09-2016', '19-06-2016',
       '21-06-2016', '26-06-2016', '05-07-2016', '06-07-2016',
       '12-07-2016', '14-07-2016', '19-07-2016', '25-07-2016',
       '26-07-2016', '07-12-2016', '10-08-2016', '18-08-2016',
       '21-08-2016', '24-08-2016', '26-08-2016', '31-08-2016',
       '05-09-2016', '16-09-2016', '24-09-2016', '18-09-2016',
       '23-09-2016', '09-10-2016', '13-10-2016', '28-10-2016',
       '05-11-2016', '09-11-2016', '22-11-2016', '23-11-2016',
       '28-11-2016', '30-11-2016', '13-07-2016', '17-12-2016',
       '24-12-2016', '2017-01-01', '2017-02-06', '2017-01-03',
       '2017-01-05', '2017-02-05', '2017-01-07', '2017-01-11',
       '2017-01-17', '2017-01-19', '2017-01-18', '2017-01-26',
       '2017-01-27', '2017-01-29', '2017-01-31', '2017-02-04',
       '2017-02-09', '2017-02-15', '2017-03-23', '2017-02-24',
       '2017-02-25', '2017-03-04', '2017-03-05', '2017-03-09',
       '2017-03-14', '2017-03-18', '2017-03-21', '2017-03-22',
       '2017-03-31', '2017-04-01', '2017-04-15', '2017-04-07',
       '2017-04-12', '2017-04-22', '2017-04-11', '2017-04-13',
       '2017-04-16', '2017-04-23', '2017-05-11', '2017-05-02',
       '2017-05-03', '2017-05-09', '2017-05-16', '2017-05-05',
       '2017-05-07', '2017-05-17', '2017-05-19', '2017-05-20',
       '2017-05-21', '2017-05-22', '2017-05-31', '2017-05-25',
       '25-05-2017', '2017-05-28', '2017-04-30', '2017-05-30',
       '2017-06-03', '2017-06-07', '2017-06-08', '2017-06-09',
       '2017-06-10', '2017-06-14', '2017-06-16', '2017-06-21',
       '2017-06-19', '2017-06-23', '2017-06-27', '08-07-2017',
       '30-07-2017', '22-07-2017', '25-07-2017', '29-07-2017',
       '13-08-2017', '08-08-2017', '05-08-2017', '07-08-2017',
       '06-08-2017', '10-08-2017', '12-08-2017', '14-08-2017',
       '15-08-2007', '18-08-2017', '19-08-2017', '03-09-2017',
       '20-08-2017', '23-08-2017', '24-08-2017', '26-08-2017',
       '25-08-2017', '27-08-2017', '29-08-2017', '31-08-2017',
       '01-09-2017', '02-09-2017', '06-09-2017', '08-09-2017',
       '07-09-2017', '09-09-2017', '18-09-2017', '14-09-2017',
       '16-09-2017', '17-09-2017', '26-09-2017', '21-09-2017',
       '20-09-2017', '30-09-2017', '29-09-2017', '07-10-2017',
       '09-10-2017', '12-10-2017', '11-10-2017', '13-10-2017',
       '15-10-2017', '17-10-2017', '16-10-2017', '18-10-2017',
       '19-10-2017', '24-10-2017', '22-10-2017', '23-10-2017',
       '25-10-2017', '26-10-2017', '27-10-2017', '29-10-2017',
       '05-11-2017', '01-11-2017', '10-11-2017', '03-11-2017',
       '07-11-2017', '09-11-2017', '14-11-2017', '13-11-2017',
       '15-11-2017', '18-11-2017', '16-11-2017', '17-11-2017',
       '21-11-2017', '26-11-2017', '29-11-2017', '25-11-2017',
       '27-11-2017', '12-12-2017', '05-12-2017', '02-12-2017',
       '03-12-2017', '09-12-2017', '10-12-2017', '19-12-2017',
       '13-12-2017', '27-12-2017', '22-12-2017', '03-01-2018',
       '10-01-2018', '11-01-2018', '15-01-2018', '12-01-2018',
       '26-01-2018', '07-02-2018', '08-02-2018', '10-02-2018',
       '12-10-2018', '14-02-2018', '28-02-2018', '21-02-2018',
       '22-02-2018', '27-02-2018', '19-03-2018', '14-03-2018',
       '29-03-2018', '09-04-2018', '16-04-2018', '20-04-2018',
       '02-05-2018', '04-05-2018', '06-05-2018', '19-05-2018',
       '21-06-2018', '31-05-2018', '03-06-2018', '04-06-2018',
       '19-06-2018', '11-06-2018', '13-06-2018', '14-06-2018',
       '24-06-2018', '08-07-2018', '13-07-2018', '15-07-2018',
       '17-07-2018', '24-07-2018', '26-07-2018', '28-07-2018',
       '11-08-2018', '22-08-2018', '13-08-2018', '14-08-2018',
       '20-08-2018', '29-08-2018', '25-08-2018', '30-08-2018',
       '02-09-2018', '03-09-2018', '05-09-2018', '07-09-2018',
       '15-09-2018', '17-09-2018', '19-09-2018', '20-09-2018',
       '24-09-2018', '25-09-2018', '27-09-2018', '2018-10-02',
       '2018-10-01', '2018-10-06', '2018-10-05', '2018-10-07',
       '2018-10-08', '2018-10-11', '2018-10-17', '2018-10-25',
       '2018-11-04', '2018-10-27', '2018-10-28', '2018-11-02',
       '2018-11-09', '2018-12-01', '2018-11-13', '2018-11-14',
       '2018-11-21', '2018-11-15', '2018-11-18', '2018-11-17',
       '2018-11-16', '2018-12-17', '2018-11-24', '2018-11-28',
       '2018-11-25', '2018-11-27', '2018-12-02', '2018-11-30',
       '2018-12-03', '2018-12-04', '2018-12-07', '2018-12-10',
       '2018-12-11', '2018-12-13', '2018-12-14', '2018-12-15',
       '2018-12-16', '2018-12-19', '2018-12-20', '2018-12-21',
       '2018-12-22', '2018-12-24', '2018-12-25', '2018-12-26',
       '2018-12-27', '2018-12-28', '2013-05-21', '2013-04-09',
       '28-01-2009'], dtype=object)

In [33]:
# Make sure Source are of same structure, and remove redundancy
df['Source'].unique()

array(['Ananoya', 'The Hindu ', 'The Indonesian National News Agency',
       'Wildlife Protection Society of India Press Release', 'The Hindu',
       'Orissa.net', 'NDTV.com', 'Agence France Presse', 'Newkerala.com',
       'Independent Online', 'Jakarta Post', 'Terra Daily',
       'Deepika Global', 'Webindia123', 'The Statesman',
       'Webindia123.com', 'Newindpress.com', 'The Jakarta Post',
       'Reuters', 'Bahrain News Agency', 'Newindpress',
       'New Straits Times', 'Colombo Page', 'Chennai Online', 'Enews.com',
       'Telugu Portal ', 'IANS', 'DNA', 'News.com', 'New Kerala.com',
       'Anandabazar', 'NEWSPost India', 'Fox News', 'Associated Press',
       'Statesman News Service', 'The Himalayan Times',
       'The Associated Press', 'Thaindian News ', 'Times of India',
       'Express News Service', 'The Telegraph', 'Meri News', 'DNA ',
       'The Economic Times', 'Asia-Pacific News', 'Asia News Network',
       'Sri Lanka Daily News', 'VietnamNet', 'Little About',
       'Daily India', 'Press Trust of India', 'DNA India', 'Trak.in',
       'Indian Express', 'Vientiane Times ', 'OneIndia News', 'Sify News',
       'Agence France Press', 'THanh Nien Daily', 'Jakarta Globe',
       'Thanh Nien News', 'India Blooms News Service', 'Daily Mirror',
       'NDTV', 'Blooms News Service ', 'The Pioneer', 'Bangkok Post',
       'Press Trust of India ', 'Vietnam News Agency', 'IBN Live news',
       'NewsFirst.Lk', 'Sunday Times', ' Xinhua      ', 'Newfirst.lk',
       'ColomboPage', 'Indlawnews.com', 'Deccan Herald', 'One India News',
       'BBC News', 'Zeenews.com', 'The Straits Times', 'IBN Live',
       'Indianexpress.com', 'TImes of India', 'Newstrack India',
       'The Times of India', 'MSN News', 'India TV News', 'Zee News',
       'Phys.org', 'Times of India ', 'The Nation', 'NTD Television',
       'France 24', 'Business Standard', 'The Jakarta Globe',
       'New Indian Express', 'The New Indian Express', 'Zee News ',
       'Express News Service ', 'Deccan Herald ', 'Mongabay.com',
       'Emirates 24/7', 'News Track India ', 'Shanghai Daily ',
       'Business Standards ', 'Bangkok Post ', 'The Times of India ',
       'ABPLive', 'The Rakyat Post', 'Bangalore Mirror',
       'Sydney Morning Herald', 'Cambodia Daily', 'FirstPost',
       'The Himalayan', 'Deccan Chronicle', 'Hindustan Times',
       'Orissa Post', 'NYOOOZ Kolkata Sun', 'Mumbai Mirror', 'NYOOOZ',
       'Xinhua', 'Ani news', 'Sakshi Post', 'Tuoitrenews', 'Hiru News',
       'NT News', 'Yahoo', 'Odisha Sun Times Bureau', 'Pragativadi',
       'ThaiVisa News', 'Odisha Sun Times', 'Express', 'News Today',
       'India.com', 'News First', 'New Indian Express ', 'Avenue Mail ',
       'Prothom Alo', 'Prameya News7', 'New York Times', 'Deccan Herlad',
       'Daily Mail', 'India Today', 'Himalayan Times', 'Gulf Today',
       'The Echo of India', 'India Live Today ', 'Mathrubhumi ',
       'Clean Malaysia', 'Indileak', 'Huffington Post', 'The Sentinel ',
       'The Star', 'Pattaya Mail', 'The Sentinel', 'My Republica',
       'City Today', 'India', 'Echo of India', '11alive', 'The Big Story',
       'Eleven Myanmar', 'Myanmar Times', 'Daily Pioneer',
       'Shillong Times', 'International Business Times', 'Khmer Times',
       'Web India 123', 'Eleven', 'Kaumudi Global', 'Coconuts Yangon',
       'Times  of India', 'The Shillong Times', 'The Sun Daily',
       'Assam Tribune', 'Tribune India', 'Outlook', 'Thai PBS',
       'Decan Chronicle', 'Free Malaysia Today', 'Odisha TV',
       'The Daily Star', 'WebIndia', 'The Weekend Leader',
       'Deutsche Presse Agentur ', 'Outlook India', 'Coconuts Bangkok',
       'Odisha Post', 'Northeast India', 'Metro', 'Daily Express',
       'Sentinel Assam', 'Dhaka Tribune', 'The Assam Tribune',
       'The Daily Mirror', 'Malay Mail', 'Phnom Penh Post',
       'The Daily News', 'Mongabay', 'The Telegraph India',
       'Times of india', 'Agence France-Presse',
       'Pragativadi News  Services', 'Kalinga TV', 'The Daily pioneer',
       'The Myanmar Times', 'The Press Trust of India', ' News First',
       'The Star Online', 'The Star of Mysore', ' Northeast Now', 'AFP',
       'Newsweek', 'The Borneo Post', 'The Bangalore Mirror',
       'Pragativadi News Service', 'The New Straits Times', 'News 18',
       'The United News of India', 'China NewsAsia', 'Adaderana',
       'The Orissa Post', 'The Hitavadi', 'News 1st', 'Northeast Now',
       'Newsmen', 'The Daily Pioneer', 'The News Minute', 'Odishabytes',
       'The Bangkok Post', 'The Odisha Sun Times', 'Channel News Asia',
       'The Hitavada', 'The Independent', 'Adaderana.lk',
       'Northeast News Now', 'The Dhaka Tribune', 'The Deccan Herald',
       'Deccan Chronicle '], dtype=object)

In [34]:
train = df[['Source', 'Title','Date Published', 'Article']]
train['Date Published'] = train['Date Published'].str.replace(',','-')
train['Date Published'] =  pd.to_datetime(train['Date Published'], format="%d-%m-%Y", errors="coerce").fillna(pd.to_datetime(train['Date Published'], format="%Y-%m-%d", errors="coerce"))
train['Date Published'] = train['Date Published'].dt.date
train['Source'] = train['Source'].str.strip()
train['Source'] = train['Source'].str.upper()
train['Article'] = train['Article'].replace('\r','')

/var/folders/g6/8qf633_j27j4pw_gqbrz6dbh0000gn/T/ipykernel_23378/2866659192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Date Published'] = train['Date Published'].str.replace(',','-')
/var/folders/g6/8qf633_j27j4pw_gqbrz6dbh0000gn/T/ipykernel_23378/2866659192.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Date Published'] =  pd.to_datetime(train['Date Published'], format="%d-%m-%Y", errors="coerce").fillna(pd.to_datetime(train['Date Published'], format="%Y-%m-%d", errors="coerce"))
/var/folders/g6/8qf633_j27j4pw_gqbrz6dbh0000gn/T/ipykernel_23378/2866659192.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Date Published'] = train['Date Published'].dt.date
/var/folders/g6/8qf633_j27j4pw_gqbrz6dbh0000gn/T/ipykernel_23378/2866659192.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Source'] = train['Source'].str.strip()
/var/folders/g6/8qf633_j27j4pw_gqbrz6dbh0000gn/T/ipykernel_23378/2866659192.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Source'] = train['Source'].str.upper()
/var/folders/g6/8qf633_j27j4pw_gqbrz6dbh0000gn/T/ipykernel_23378/2866659192.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Article'] = train['Article'].replace('\r','')

In [35]:
train['Source'].unique()

array(['ANANOYA', 'THE HINDU', 'THE INDONESIAN NATIONAL NEWS AGENCY',
       'WILDLIFE PROTECTION SOCIETY OF INDIA PRESS RELEASE', 'ORISSA.NET',
       'NDTV.COM', 'AGENCE FRANCE PRESSE', 'NEWKERALA.COM',
       'INDEPENDENT ONLINE', 'JAKARTA POST', 'TERRA DAILY',
       'DEEPIKA GLOBAL', 'WEBINDIA123', 'THE STATESMAN',
       'WEBINDIA123.COM', 'NEWINDPRESS.COM', 'THE JAKARTA POST',
       'REUTERS', 'BAHRAIN NEWS AGENCY', 'NEWINDPRESS',
       'NEW STRAITS TIMES', 'COLOMBO PAGE', 'CHENNAI ONLINE', 'ENEWS.COM',
       'TELUGU PORTAL', 'IANS', 'DNA', 'NEWS.COM', 'NEW KERALA.COM',
       'ANANDABAZAR', 'NEWSPOST INDIA', 'FOX NEWS', 'ASSOCIATED PRESS',
       'STATESMAN NEWS SERVICE', 'THE HIMALAYAN TIMES',
       'THE ASSOCIATED PRESS', 'THAINDIAN NEWS', 'TIMES OF INDIA',
       'EXPRESS NEWS SERVICE', 'THE TELEGRAPH', 'MERI NEWS',
       'THE ECONOMIC TIMES', 'ASIA-PACIFIC NEWS', 'ASIA NEWS NETWORK',
       'SRI LANKA DAILY NEWS', 'VIETNAMNET', 'LITTLE ABOUT',
       'DAILY INDIA', 'PRESS TRUST OF INDIA', 'DNA INDIA', 'TRAK.IN',
       'INDIAN EXPRESS', 'VIENTIANE TIMES', 'ONEINDIA NEWS', 'SIFY NEWS',
       'AGENCE FRANCE PRESS', 'THANH NIEN DAILY', 'JAKARTA GLOBE',
       'THANH NIEN NEWS', 'INDIA BLOOMS NEWS SERVICE', 'DAILY MIRROR',
       'NDTV', 'BLOOMS NEWS SERVICE', 'THE PIONEER', 'BANGKOK POST',
       'VIETNAM NEWS AGENCY', 'IBN LIVE NEWS', 'NEWSFIRST.LK',
       'SUNDAY TIMES', 'XINHUA', 'NEWFIRST.LK', 'COLOMBOPAGE',
       'INDLAWNEWS.COM', 'DECCAN HERALD', 'ONE INDIA NEWS', 'BBC NEWS',
       'ZEENEWS.COM', 'THE STRAITS TIMES', 'IBN LIVE',
       'INDIANEXPRESS.COM', 'NEWSTRACK INDIA', 'THE TIMES OF INDIA',
       'MSN NEWS', 'INDIA TV NEWS', 'ZEE NEWS', 'PHYS.ORG', 'THE NATION',
       'NTD TELEVISION', 'FRANCE 24', 'BUSINESS STANDARD',
       'THE JAKARTA GLOBE', 'NEW INDIAN EXPRESS',
       'THE NEW INDIAN EXPRESS', 'MONGABAY.COM', 'EMIRATES 24/7',
       'NEWS TRACK INDIA', 'SHANGHAI DAILY', 'BUSINESS STANDARDS',
       'ABPLIVE', 'THE RAKYAT POST', 'BANGALORE MIRROR',
       'SYDNEY MORNING HERALD', 'CAMBODIA DAILY', 'FIRSTPOST',
       'THE HIMALAYAN', 'DECCAN CHRONICLE', 'HINDUSTAN TIMES',
       'ORISSA POST', 'NYOOOZ KOLKATA SUN', 'MUMBAI MIRROR', 'NYOOOZ',
       'ANI NEWS', 'SAKSHI POST', 'TUOITRENEWS', 'HIRU NEWS', 'NT NEWS',
       'YAHOO', 'ODISHA SUN TIMES BUREAU', 'PRAGATIVADI', 'THAIVISA NEWS',
       'ODISHA SUN TIMES', 'EXPRESS', 'NEWS TODAY', 'INDIA.COM',
       'NEWS FIRST', 'AVENUE MAIL', 'PROTHOM ALO', 'PRAMEYA NEWS7',
       'NEW YORK TIMES', 'DECCAN HERLAD', 'DAILY MAIL', 'INDIA TODAY',
       'HIMALAYAN TIMES', 'GULF TODAY', 'THE ECHO OF INDIA',
       'INDIA LIVE TODAY', 'MATHRUBHUMI', 'CLEAN MALAYSIA', 'INDILEAK',
       'HUFFINGTON POST', 'THE SENTINEL', 'THE STAR', 'PATTAYA MAIL',
       'MY REPUBLICA', 'CITY TODAY', 'INDIA', 'ECHO OF INDIA', '11ALIVE',
       'THE BIG STORY', 'ELEVEN MYANMAR', 'MYANMAR TIMES',
       'DAILY PIONEER', 'SHILLONG TIMES', 'INTERNATIONAL BUSINESS TIMES',
       'KHMER TIMES', 'WEB INDIA 123', 'ELEVEN', 'KAUMUDI GLOBAL',
       'COCONUTS YANGON', 'TIMES  OF INDIA', 'THE SHILLONG TIMES',
       'THE SUN DAILY', 'ASSAM TRIBUNE', 'TRIBUNE INDIA', 'OUTLOOK',
       'THAI PBS', 'DECAN CHRONICLE', 'FREE MALAYSIA TODAY', 'ODISHA TV',
       'THE DAILY STAR', 'WEBINDIA', 'THE WEEKEND LEADER',
       'DEUTSCHE PRESSE AGENTUR', 'OUTLOOK INDIA', 'COCONUTS BANGKOK',
       'ODISHA POST', 'NORTHEAST INDIA', 'METRO', 'DAILY EXPRESS',
       'SENTINEL ASSAM', 'DHAKA TRIBUNE', 'THE ASSAM TRIBUNE',
       'THE DAILY MIRROR', 'MALAY MAIL', 'PHNOM PENH POST',
       'THE DAILY NEWS', 'MONGABAY', 'THE TELEGRAPH INDIA',
       'AGENCE FRANCE-PRESSE', 'PRAGATIVADI NEWS  SERVICES', 'KALINGA TV',
       'THE DAILY PIONEER', 'THE MYANMAR TIMES',
       'THE PRESS TRUST OF INDIA', 'THE STAR ONLINE',
       'THE STAR OF MYSORE', 'NORTHEAST NOW', 'AFP', 'NEWSWEEK',
       'THE BORNEO POST', 'THE BANGALORE MIRROR',
       'PRAGATIVADI NEWS SERVICE', 'THE NEW STRAITS TIMES', 'NEWS 18',
       'THE UNITED NEWS OF INDIA', 'CHINA NEWSASIA', 'ADADERANA',
       'THE ORISSA POST', 'THE HITAVADI', 'NEWS 1ST', 'NEWSMEN',
       'THE NEWS MINUTE', 'ODISHABYTES', 'THE BANGKOK POST',
       'THE ODISHA SUN TIMES', 'CHANNEL NEWS ASIA', 'THE HITAVADA',
       'THE INDEPENDENT', 'ADADERANA.LK', 'NORTHEAST NEWS NOW',
       'THE DHAKA TRIBUNE', 'THE DECCAN HERALD'], dtype=object)

In [36]:
train['Date Published']

0      2004-01-20
1      2004-01-27
2      2004-01-27
3      2004-01-29
4      2004-01-29
          ...
830    2018-12-28
831    2013-05-21
832    2013-04-09
833    2009-01-28
834    2009-01-28
Name: Date Published, Length: 833, dtype: object

In [37]:
train['Article']

0      Asian elephants electrocuted after drinking session\r\nAnanova\r\nJanuary 20, 2004\r\n\r\nFour wild Asian elephants that got drunk on rice beer have been electrocuted \r\nin the northern Indian state of Meghalaya.\r\n\r\nA forest official said a herd of about 24 elephants went on the rampage in a \r\nremote area in the West Garo Hills district.\r\n\r\n"The elephants, after getting high on rice...
1      2 HELD FOR ELEPHANTS ELECTROCUTION\r\nThe Hindu\r\nJanuary 27, 2004\r\n\r\nTwo farm assistants have been taken into custody by special teams of the \r\nForest department in connection with the electrocution of a tusker and a \r\nfemale elephant at two places in the Coimbatore reserve forest division. One \r\nincident was reported on Saturday night and the other on Sunday. The female \r\nelepha...
2      2 HELD FOR ELEPHANTS ELECTROCUTION\r\nThe Hindu\r\nJanuary 27, 2004\r\n\r\nTwo farm assistants have been taken into custody by special teams of the \r\nForest department in connection with the electrocution of a tusker and a \r\nfemale elephant at two places in the Coimbatore reserve forest division. One \r\nincident was reported on Saturday night and the other on Sunday. The female \r\nelepha...
3      TWO ELEPHANTS IN RIAU POISONED TO DEATH\r\nAntara - The Indonesian National News Agency\r\nJanuary 29, 2004\r\n\r\nPekanbaru, Jan 29 (ANTARA) - Two male elephants were found dead after being \r\npoisoned by unidentified persons at spot near the elephant training center \r\n(PTL) in Duri area, Bengkalis district, Riau, recently.\r\n\r\nChairman of a local non-governmental organization on wildli...
4      EXPERTS CALL FOR INVESTIGATION ON KILLING OF ELEPHANTS IN INDON PROVINCE\r\nAntara - The Indonesian National News Agency\r\nJanuary 29, 2004\r\n\r\nBandar Lampung, Lampung, Jan 29 (ANTARA) - A number of environmental \r\nactivists in Indonesia's Lampung province have urged concerned agencies to \r\nlook into the killing of four elephants at the Bukit Barisan National Park, \r\na spokesman has ...
                                                                                                                                                                                                            ...
830    Spate of Wildlife Deaths Continues in N Bengal, Now Elephant Dies in\r\nSiliguri (India)\r\nNewsmen\r\nDecember 28, 2018\r\n\r\nSee link\r\n<https://newsmen.in/news/spate-of-wildlife-deaths-continues-in-n-bengal-now-elephant-dies-in-siliguri/>\r\nfor photo.\r\n\r\nSILIGURI: With the winter cold intensifying, north Bengal is witnessing one\r\nafter another poaching or mystery deaths of wild ani...
831    Jumbos electrocuted (India)\r\n\r\nDeccan Chronicle\r\n\r\n21st May 2013\r\n\r\n\r\n\r\nKrishnagiri: Two cow elephants died on Monday after they came into contact with a live Tangedco electric wire that passes through the reserved forest area in Denkannikottai taluk, near Hosur, of Krishnagiri.\r\n\r\n\r\n\r\nOn Monday morning, villagers found the carcass of two female elephants near their vil...
832    Ivory hunters kill another elephant (Thailand) \r\nBangkok Post \r\n9 Apr 2013 \r\n \r\nThe dessicated carcass of a dead elephant has been found in Kaeng Krachan National Park, in Phetchaburi province, about three kilometres from where another elephant was found dead on March 8. \r\n \r\nChaiwat Limlikhit-aksorn, the park chief, said he was informed of the find by villagers on Tuesday morning ...
833    Two elephants die in Mysore district (India)\r\nTimes of India\r\n28 January 2009\r\n\r\nMYSORE: Close on heels of the death of a leopard in Heggadadevana Kote taluk, two elephants including a calf died in two separate incidents in Mysore district on Monday. A 6-year-old male calf is suspected to have died due to electric shock in Makanapura, Nanjangud taluk whereas 40-year-old tamed elephant,...
834    Two elephants die in Mysore district (India)\r\nTimes of India\r\n28 January 2009\r\n\r\nMYSORE: Close on heels of the death of a leopard in Heggadadevana Kote taluk, two elephants including a calf died in two separate incidents in Mysore district on Monday. A 6-year-old male calf is suspected to have died due to electric shock in Makanapura, Nanjangud taluk whereas 40-year-old tamed elephant,...
Name: Article, Length: 833, dtype: object

In [38]:
train

,Source,Title,Date Published,Article
0,ANANOYA,Asian elephants electrocuted after drinking session,2004-01-20,"Asian elephants electrocuted after drinking session\r\nAnanova\r\nJanuary 20, 2004\r\n\r\nFour wild Asian elephants that got drunk on rice beer have been electrocuted \r\nin the northern Indian state of Meghalaya.\r\n\r\nA forest official said a herd of about 24 elephants went on the rampage in a \r\nremote area in the West Garo Hills district.\r\n\r\n""The elephants, after getting high on rice..."
1,THE HINDU,2 Held for Elephants electrocution,2004-01-27,"2 HELD FOR ELEPHANTS ELECTROCUTION\r\nThe Hindu\r\nJanuary 27, 2004\r\n\r\nTwo farm assistants have been taken into custody by special teams of the \r\nForest department in connection with the electrocution of a tusker and a \r\nfemale elephant at two places in the Coimbatore reserve forest division. One \r\nincident was reported on Saturday night and the other on Sunday. The female \r\nelepha..."
2,THE HINDU,2 Held for Elephants electrocution,2004-01-27,"2 HELD FOR ELEPHANTS ELECTROCUTION\r\nThe Hindu\r\nJanuary 27, 2004\r\n\r\nTwo farm assistants have been taken into custody by special teams of the \r\nForest department in connection with the electrocution of a tusker and a \r\nfemale elephant at two places in the Coimbatore reserve forest division. One \r\nincident was reported on Saturday night and the other on Sunday. The female \r\nelepha..."
3,THE INDONESIAN NATIONAL NEWS AGENCY,Two Elephants in Riau Poisoned to Death,2004-01-29,"TWO ELEPHANTS IN RIAU POISONED TO DEATH\r\nAntara - The Indonesian National News Agency\r\nJanuary 29, 2004\r\n\r\nPekanbaru, Jan 29 (ANTARA) - Two male elephants were found dead after being \r\npoisoned by unidentified persons at spot near the elephant training center \r\n(PTL) in Duri area, Bengkalis district, Riau, recently.\r\n\r\nChairman of a local non-governmental organization on wildli..."
4,THE INDONESIAN NATIONAL NEWS AGENCY,Experts call for investigation on killing of elephants in Indonesia Province.,2004-01-29,"EXPERTS CALL FOR INVESTIGATION ON KILLING OF ELEPHANTS IN INDON PROVINCE\r\nAntara - The Indonesian National News Agency\r\nJanuary 29, 2004\r\n\r\nBandar Lampung, Lampung, Jan 29 (ANTARA) - A number of environmental \r\nactivists in Indonesia's Lampung province have urged concerned agencies to \r\nlook into the killing of four elephants at the Bukit Barisan National Park, \r\na spokesman has ..."
...,...,...,...,...
830,NEWSMEN,"Spate of Wildlife Deaths Continues in N Bengal, Now Elephant Dies in Siliguri (India)",2018-12-28,"Spate of Wildlife Deaths Continues in N Bengal, Now Elephant Dies in\r\nSiliguri (India)\r\nNewsmen\r\nDecember 28, 2018\r\n\r\nSee link\r\n<https://newsmen.in/news/spate-of-wildlife-deaths-continues-in-n-bengal-now-elephant-dies-in-siliguri/>\r\nfor photo.\r\n\r\nSILIGURI: With the winter cold intensifying, north Bengal is witnessing one\r\nafter another poaching or mystery deaths of wild ani..."
831,DECCAN CHRONICLE,Jumbos electrocuted (India),2013-05-21,"Jumbos electrocuted (India)\r\n\r\nDeccan Chronicle\r\n\r\n21st May 2013\r\n\r\n\r\n\r\nKrishnagiri: Two cow elephants died on Monday after they came into contact with a live Tangedco electric wire that passes through the reserved forest area in Denkannikottai taluk, near Hosur, of Krishnagiri.\r\n\r\n\r\n\r\nOn Monday morning, villagers found the carcass of two female elephants near their vil..."
832,BANGKOK POST,Ivory hunters kill another elephant (Thailand),2013-04-09,"Ivory hunters kill another elephant (Thailand) \r\nBangkok Post \r\n9 Apr 2013 \r\n \r\nThe dessicated carcass of a dead elephant has been found in Kaeng Krachan National Park, in Phetchaburi province, about three kilometres from where another elephant was found dead on March 8. \r\n \r\nChaiwat Limlikhit-aksorn, the park chief, said he was informed of the find by villagers on Tuesday morning ..."
833,TIMES OF INDIA,Two elephants die in Mysore district,2009-01-28,"Two elephants die in Mysore district (India)\r\nTimes of India\r\n28 January 2009\r\n\r\nMYSORE: Close on heels of the death of a leopard in Heggadadevana Kote taluk, two elephants including a calf died in two separate incidents in Mysore district on Monday. A 6-year-old male calf is suspected to have died due to electric shock in Makanapura, Nanjangud taluk whereas 40-year-old tamed elephant,..."
834,TIMES OF INDIA,Two elephants die in Mysore district,2009-01-28,"Two elephants die in Mysore district (India)\r\nTimes of India\r\n28 January 2009\r\n\r\nMYSORE: Close on heels of the death of a leopard in Heggadadevana Kote taluk, two elephants including a calf died in two separate incidents in Mysore district on Monday. A 6-year-old male calf is suspected to have died due to electric shock in Makanapura, Nanjangud taluk whereas 40-year-old tamed elephant,..."

# Construct data to be predicted

Going to start off by seperating each objective into its own set, one dataframe for Country, one for Total, and etc.

In [39]:
test_country = df['Country']
test_state = df['State']
test_district = df['District']
test_village = df['Village/Place']
test_total = df['Total']
test_date = df['Date (Event)']

In [40]:
test_country = test_country.str.strip()
test_country.unique()

array(['India', 'Indonesia', 'Bangladesh', 'Malaysia', 'Sri Lanka',
       'Nepal', 'Thailand', 'Vietnam', 'Laos', 'China', 'Cambodia',
       'Burma'], dtype=object)

In [41]:
test_total.unique()

array(['24', '1', '2', '4', '10', '6', 'NG', '13', '3', '25', '9', '17',
       '40', '80', '5', '7', '50', '60', '21', '8', '16', '15', '35',
       '22', '30', '12', '19', '55'], dtype=object)

In [42]:
test_village.nunique()

676

In [43]:
test_village = test_village.str.strip()
test_village = test_village.str.upper()
#test_village.unique()

In [44]:
test_village.nunique()

668

In [45]:
test_district = test_district.str.strip()
test_district = test_district.str.upper()
test_district.unique()

array(['WEST GARO HILLS', 'COIMBATORE', 'NG', 'HARIDWAR',
       'PATHANAMTHITTA', 'MYSORE', 'KEONJHAR', 'COX’S BAZAAR', 'KHUNTI',
       'DUMKA', 'NAINITAL', 'JALPAIGURI', 'PAURI GHARWAL', 'UDALGURI',
       'SERAIKELA KHARSAWAN', 'THENI', 'MAYURBHANJ', 'KHAJARA',
       'DINDIGUL', 'SIVAGIRI FOREST RANGE IN TIRUNELVELI', 'DEHRADUN',
       'JAJAPUR', 'NILIGIRIS', 'RANCHI', 'SAMBALPUR', 'KRISHNAGIRI',
       'SONITPUR', 'BANGALORE', 'DOOARS', 'DARJEELING', 'VIZIANAGARAM',
       'COORG', 'JAMSHEDPUR', 'PALAKKAD', 'NAGAON', 'ERODE', 'SUNDERGARH',
       'KHUTI', 'CHANDGAD', 'SIVASAGAR', 'SINGHBHUM', 'KHAO CHAMAO',
       'KODAGU', 'CHAMARAJNAGAR', 'KARBI ANGLONG', 'KENDUJHAR', 'ANGUL',
       'KHURDA KHORDA', 'SAHARANPUR', 'BALASORE', 'MIDNAPORE',
       'KAMRUP METROPOLITAN', 'GOLAGHAT', 'IDUKKI', 'MORIGAON',
       'NAYAGRAM', 'DHENKANAL', 'GUMLA', 'HASSAN', 'WEST MIDNAPORE',
       'BALANGIR', 'LAKHIMPUR', 'GANJAM', 'PALAMU', 'JORHAT',
       'CHAMARAJANAGAR', 'BARGARH', 'SOUTH 24 PARGANAS', 'BANKURA',
       'PURULIA', 'SUNDARGARH', 'NANITAL', 'CUTTACK', 'MALAPPURAM',
       'UDALGIRI', 'RAMGARH', 'RAIPUR', 'KALIMPONG', 'BAKSA',
       'THIRUVANANTHAPURAM', 'DALTONGANJ', 'SUBARNAPUR', 'RIAU',
       'GUDALUR', 'MUTHATHI', 'DOOMDOOMA', 'RAIGARH', 'SILIGURI',
       'SILIGRUI', 'PALAMAU', 'DAKSHIN KANNAD', 'CHITTOOR', 'MAYUBHANJ',
       'SHIMOGA', 'JAJPUR', 'NILGIRIS', 'UMARIA', 'SIDHI', 'EAST SIANG',
       'NAYAGARH', 'ALIPURDUA', 'SINDHUDURG', 'ERNAKULAM',
       'EAST SINGHBHUM', 'BELGAUM', 'THRISSUR', 'ALIPURDUAR', 'GOALPARA',
       'SONEPUR', 'BOUDH', 'PURNIA', 'PURBI SINGHBHUM', 'VELLORE',
       'LAKHIPUR', 'BURDWAN', 'BIJNOR', 'MYSURU', 'KAMRUP', 'WAYANAD',
       'OOTY', 'BENGALURU', 'DHUBRI', 'MALDA', 'MADURAI', 'DEOGARH',
       'WEST TRIPURA', 'TEZPUR', 'BARPETA', 'RAMANAGARA', 'TRISSUR',
       'SURAJPUR', 'TINSUKIA', 'MIDDLE ANDAMAN', 'KHARGONE', 'TIRUPUR',
       'KANDHAMAL', 'SATARA', 'UDHAM SINGH NAGAR', 'CHIKKAMAGALURU',
       'SAHEBGANJ', 'LATEHAR', 'JHARSUGUDA', 'DIBRUGARH',
       'SOUTH WEST GARO HILLS', 'KOKRAJHAR', 'HOJAI', 'BANDIPUR',
       'BISWANATH', 'CUTTAK', 'BANGALORE RURAL', 'THOOTHUKUDI',
       'KOTHAMANGALAM', 'LAKHIMPUR KHERI', 'PANTNAGAR',
       'SOUTH GARO HILLS', 'TARIKERE', 'UDAYGIRI', 'JHARGRAM',
       'NARSINGHPUR', 'KOHIMA', 'PAURI GARHWAL', 'WEST SINGHBHUM'],
      dtype=object)

In [46]:
test_state = test_state.str.strip()
test_state = test_state.str.upper()
test_state.unique()

array(['MEGHALAYA', 'TAMIL NADU', 'RIAU', 'WEST LAMPUNG', 'UTTARAKHAND',
       'KERALA', 'KARNATAKA', 'ODISHA', 'NG', 'JHARKHAND', 'JAKARTA',
       'SABAH', 'WEST BENGAL', 'ASSAM', 'CHHATTISGARH', 'MADHYA PRADESH',
       "COX'S BAZAR", 'HULU PERAK', 'POLONNARUWA', 'JHAPA',
       'ANDHRA PRADESH', 'LALMONIRHAT', 'MAHARASHTRA', 'RAYONG',
       'SUMATRA', 'ANURADHAPURA', 'VINH CUU', 'LAMPUNG', 'UTTAR PRADESH',
       'NAXAITHONG', 'EA SUP', 'TAMIANG', 'TRINCOMALEE', 'DELHI',
       'KANCHANADIT', 'BUON DON', 'YUNNAN', 'THANAMALVILA', 'BENGKALIS',
       'DAK LAK', 'BAKAMUNA', 'ACEH', 'ACEH JAYA', 'EAST ACEH',
       'BO PHLOI', 'MYMENSINGH', 'SI SAWAT', 'BANJARNEGARA',
       'PHETCHABURI', "PHETCHABURI'S", 'HAMBANTOTA', 'KAENG KRACHAN',
       'RIAUA', 'MANNAR', 'WEST ACEH', 'PRACHUAP KHIRI KHAN', 'PELALAWAN',
       'TAWAU', 'MONDULKIRI', 'PARSA', 'KURUNEGALA', 'ARUNACHAL PRADESH',
       'MURSHIDABAD', 'DAL LAK', 'MUANG', 'PUTTALAM', 'JAYA',
       'KANCHANABURI', 'NORTH CENTRAL PROVINCE', 'HANG CHAT', 'BIHAR',
       'KAENG HANG MAEW', 'KEDAH', 'NARATHIWAT', 'RANGAE', 'TRIPURA',
       'SABHA', 'CHACHOENGSAO', 'MUEANG CHANTHABURI', 'KANCHANPUR',
       'ANDAMAN & NICOBAR ISLANDS', 'SOUTHWEST CHINA',
       'NORTH WESTERN PROVINCE', 'VAVUNIYA', 'TANINTHAYI', 'MANDALAY',
       'WIANG SA', 'PERAK', 'KRATIE', 'SOUTHERN PROVINCE', 'RATNAPURA',
       'PATHEIN', 'PROVINCE 7', 'SUMAY', 'NAM NAO', 'UVA', 'SHERPUR',
       'LAMPANG', 'NAKHON RATCHASIMA', 'CHITTAGONG', 'GALGAMGUWA',
       'KUI BURI', 'NGAPUTAW', 'PUDUCHERRY', 'SI RACHA', 'SERBAJADI',
       'EASTERN SABAH', 'LAHAD DATU', 'BANGKOK', 'HABARANA', 'NAGALAND',
       'SANAM CHAI KHET DISTRICT', 'AYEYARWDY', 'MUEANG NAKHON NAYOK',
       'SABARAGAMUWA', 'ROWMARI UPAZILA'], dtype=object)

In [47]:
test_date.unique()

array(['20-01-2004', '24-01-2004', '25-01-2004', '29-01-2004',
       '20-02-2004', '23-02-2004', '24-03-2004', '29-03-2004',
       '02-04-2004', '08-04-2004', '21-05-2004', '19-09-2004',
       '28-10-2004', '08-11-2004', '28-11-2004', '05-03-2005',
       '17-03-2005', '02-04-2005', '13-05-2005', '27-06-2005',
       '30-09-2005', '06-11-2005', '01-12-2005', '02-12-2005',
       '13-12-2005', '02-01-2006', '12-01-2006', '01-03-2006',
       '12-03-2006', '14-03-2006', '28-03-2006', '16-04-2006',
       '09-05-2006', '18-05-2006', '12-06-2006', '22-09-2006',
       '06-10-2006', '09-10-2006', '13-10-2006', '18-10-2006',
       '02-11-2006', '13-11-2006', '16-12-2006', '14-03-2007',
       '27-06-2007', '11-07-2007', '12-07-2007', '20-07-2007',
       '24-07-2007', '26-07-2007', '30-07-2007', '10-08-2007',
       '01-09-2007', '19-09-2007', '16-10-2007', '23-10-2007',
       '25-11-2007', '04-01-2008', '11-01-2008', '01-05-2008',
       '08-05-2008', '02-06-2008', '13-06-2008', '18-06-2008',
       '20-06-2008', '22-06-2008', '19-07-2008', '23-07-2008',
       '29-07-2008', '01-10-2008', '14-10-2008', '26-01-2009',
       '22-02-2009', '26-02-2009', '27-02-2009', '09-03-2009',
       '14-03-2009', '08-05-2009', '27-05-2009', '28-05-2009',
       '06-06-2009', '11-06-2009', '15-06-2009', '16-06-2009',
       '09-07-2009', '10-07-2009', '11-08-2009', '16-08-2009',
       '26-08-2009', '14-09-2009', '17/09/2009', '01-10-2009',
       '08-10-2009', '11-10-2009', '23-10-2009', '26-10-2009',
       '07-11-2009', '12-11-2009', '28-11-2009', '30-11-2009',
       '31-12-2009', '01-01-2010', '05-01-2010', '26-02-2010',
       '04-03-2010', '15-03-2010', '24-03-2010', '29-03-2010',
       '07-04-2010', '16-04-2010', '18-04-2010', '19-04-2010',
       '23-04-2010', '24-04-2010', '25-04-2010', '27-04-2010',
       '03-05-2010', '27-05-2010', '17-07-2010', '01-08-2010',
       '02-08-2010', '03-08-2010', '13-08-2010', '02-09-2010',
       '23-09-2010', '25-09-2010', '27-09-2010', '07-10-2010',
       '09-10-2010', '12-10-2010', '21-10-2010', '24-10-2010',
       '25-10-2010', '26-10-2010', '09-11-2010', '14-11-2010',
       '23-11-2010', '28-11-2010', '29-11-2010', '30-11-2010',
       '02-12-2010', '04-12-2010', '16-12-2010', '17-12-2010',
       '19-12-2010', '21-12-2010', '22-12-2010', '23-12-2010',
       '03-01-2011', '05-01-2011', '06-01-2011', '07-01-2011',
       '09-01-2011', '12-01-2011', '13-01-2011', '16-01-2011',
       '17-01-2011', '26-01-2011', '27-01-2011', '29-01-2011',
       '30-01-2011', '02-02-2011', '14-02-2011', '20-03-2011',
       '28-03-2011', '02-04-2011', '05-04-2011', '14-04-2011',
       '25-04-2011', '05-05-2011', '11-05-2011', '2011-05-31',
       '20-06-2011', '07-07-2011', '11-07-2011', '07-08-2011',
       '09-08-2011', '19-08-2011', '09-09-2011', '14-09-2011',
       '16-09-2011', '24-09-2011', '05-10-2011', '18-10-2011',
       '06-11-2011', '18-11-2011', '19-11-2011', '14-12-2011',
       '21-12-2011', '23-12-2011', '31-12-2011', '05-01-2012',
       '11-01-2012', '14-01-2012', '23-01-2012', '11-02-2012',
       '13-02-2012', '12-04-2012', '27-04-2012', '30-04-2012',
       '02-05-2012', '06-05-2012', '15-05-2012', '19-05-2012',
       '31-05-2012', '07-06-2012', '13-06-2012', '17-06-2012',
       '22-06-2012', '22-07-2012', '15-08-2012', '18-08-2012',
       '13-09-2012', '26-09-2012', '07-10-2012', '12-10-2012',
       '20-10-2012', '12-11-2012', '18-11-2012', '28-11-2012',
       '03-12-2012', '04-12-2012', '2013-01-16', '2013-01-29',
       '2013-01-30', '2013-02-10', '2013-02-22', '2013-03-05',
       '2013-03-11', '2013-04-14', '2013-04-16', '2013-04-22',
       '2013-05-21', '2013-06-03', '2013-06-04', '2013-06-13',
       '2013-06-19', '2013-07-08', '2013-07-09', '2013-07-13',
       '2013-07-25', '2013-08-21', '2013-09-05', '2013-09-12',
       '2013-09-14', '2013-10-10', '2013-10-16', '2013-10-22',
       '2013-11-11', '2013-11-12', '2013-11-21', '2013-11-23',
       '2013-11-25', '2013-11-26', '2013-11-28', '2013-12-23',
       '2013-12-26', '26-12-2013', '01-01-2014', '19-01-2014',
       '20-01-2014', '21-01-2014', '2014-01-24', '01-02-2014',
       '15-02-2014', '26-02-2014', '02-03-2014', '07-03-2014',
       '09-03-2014', '18-03-2014', '01-04-2014', '18-04-2014',
       '19-04-2014', '02-05-2014', '09-05-2014', '01-06-2014',
       '02-06-2014', '19-06-2014', '14-07-2014', '31-07-2014',
       '02-08-2014', '07-08-2014', '18-08-2014', '20-08-2014',
       '06-09-2014', '08-09-2014', '19-09-2014', '03-10-2014',
       '18-10-2014', '21-10-2014', '31-10-2014', '18-11-2014',
       '20-11-2014', '21-11-2014', '22-11-2014', '23-11-2014',
       '24-11-2014', '29-11-2014', '2015-01-04', '2015-01-15',
       '2015-01-29', '2015-01-30', '2015-02-03', '2015-02-13',
       '2015-03-14', '2015-03-21', '2015-04-09', '2015-04-10',
       '2015-04-13', '2015-04-20', '2015-05-15', '2015-05-23',
       '2015-06-12', '2015-06-15', '2015-06-18', '2015-06-19',
       '2015-06-22', '2015-06-26', '2015-07-01', '2015-07-04',
       '2015-07-05', '2015-07-06', '2015-07-14', '2015-07-16',
       '2015-07-17', '2015-07-19', '2015-08-13', '2015-08-15',
       '2015-08-31', '2015-09-03', '2015-09-08', '2015-09-11',
       '2015-09-12', '2015-09-14', '2015-09-20', '2015-09-22',
       '2015-10-07', '2015-10-11', '2015-10-14', '2015-10-15',
       '2015-10-20', '2015-10-25', '2015-10-30', '2015-11-02',
       '2015-11-03', '2015-11-10', '2015-11-12', '2015-11-17',
       '2015-11-21', '2015-11-22', '2015-11-25', '2015-11-27',
       '2015-11-28', '2015-11-30', '2015-12-04', '2015-12-09',
       '2015-12-13', '2015-12-16', '2015-12-27', '02-01-2016',
       '06-01-2016', '10-01-2016', '18-01-2016', '20-01-2016',
       '24-01-2016', '27-01-2016', '28-01-2016', '30-01-2016',
       '02-02-2016', '03-02-2016', '10-02-2016', '15-02-2016',
       '16-02-2016', '17-02-2016', '28-02-2016', '29-02-2016',
       '01-03-2016', '06-03-2016', '09-03-2016', '11-03-2016',
       '21-03-2016', '22-03-2016', '25-03-2016', '27-03-2016',
       '07-04-2016', '11-04-2016', '16-04-2016', '20-05-2016',
       '22-05-2016', '29-05-2016', '30-05-2016', '06-06-2016',
       '07-06-2016', '11-06-2016', '15-06-2016', '18-06-2016',
       '19-06-2016', '21-06-2016', '26-06-2016', '05-07-2016',
       '06-07-2016', '12-07-2016', '14-07-2016', '19-07-2016',
       '25-07-2016', '26-07-2016', '07-08-2016', '10-08-2016',
       '18-08-2016', '21-08-2016', '24-08-2016', '26-08-2016',
       '31-08-2016', '05-09-2016', '16-09-2016', '17-09-2016',
       '18-09-2016', '23-09-2016', '09-10-2016', '13-10-2016',
       '28-10-2016', '05-11-2016', '09-11-2016', '22-11-2016',
       '23-11-2016', '28-11-2016', '30-11-2016', '07-12-2016',
       '17-12-2016', '24-12-2016', '2016-12-26', '2017-01-01',
       '2017-01-02', '2017-01-05', '2017-01-06', '2017-01-09',
       '2017-01-17', '2017-01-18', '2017-01-25', '2017-01-26',
       '2017-01-29', '2017-01-31', '2017-02-03', '2017-02-08',
       '2017-02-15', '2017-02-24', '2017-02-25', '2017-02-26',
       '2017-03-04', '2017-03-08', '2017-03-13', '2017-03-18',
       '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-31',
       '2017-04-01', '2017-04-03', '2017-04-05', '2017-04-07',
       '2017-04-10', '2017-04-11', '2017-04-13', '2017-04-16',
       '2017-04-17', '2017-04-22', '2017-04-25', '2017-05-01',
       '2017-05-03', '2017-05-05', '2017-05-06', '2017-05-07',
       '2017-05-10', '2017-05-15', '2017-05-19', '2017-05-21',
       '2017-05-24', '2017-05-25', '25-05-2017', '2017-05-27',
       '2017-05-28', '2017-05-30', '2017-06-03', '2017-06-07',
       '2017-06-08', '2017-06-09', '2017-06-10', '2017-06-13',
       '2017-06-14', '2017-06-15', '2017-06-19', '2017-06-21',
       '2017-06-27', '08-07-2017', '20-07-2017', '22-07-2017',
       '25-07-2017', '30-07-2017', '01-08-2017', '04-08-2017',
       '05-08-2017', '10-08-2017', '11-08-2017', '14-08-2017',
       '15-08-2017', '18-08-2017', '19-08-2017', '20-08-2017',
       '22-08-2017', '23-08-2017', '24-08-2017', '25-08-2017',
       '26-08-2017', '29-08-2017', '31-08-2017', '01-09-2017',
       '03-09-2017', '06-09-2017', '09-09-2017', '11-09-2017',
       '12-09-2017', '16-09-2017', '17-09-2017', '18-09-2017',
       '19-09-2017', '20-09-2017', '22-09-2017', '28-09-2017',
       '01-10-2017', '06-10-2017', '08-10-2017', '10-10-2017',
       '11-10-2017', '12-10-2017', '13-10-2017', '14-10-2017',
       '15-10-2017', '16-10-2017', '18-10-2017', '19-10-2017',
       '21-10-2017', '22-10-2017', '23-10-2017', '24-10-2017',
       '28-10-2017', '30-10-2017', '01-11-2017', '02-11-2017',
       '05-11-2017', '06-11-2017', '09-11-2017', '12-11-2017',
       '13-11-2017', '14-11-2017', '15-11-2017', '16-11-2017',
       '17-11-2017', '20-11-2017', '21-11-2017', '24-11-2017',
       '2017-11-25', '25-11-2017', '26-11-2017', '27-11-2017',
       '28-11-2017', '29-11-2017', '03-12-2017', '05-12-2017',
       '07-12-2017', '09-12-2017', '11-12-2017', '12-12-2017',
       '13-12-2017', '20-12-2017', '21-12-2017', '02-01-2018',
       '09-01-2018', '10-01-2018', '11-01-2018', '12-01-2018',
       '13-01-2018', '16-01-2018', '25-01-2018', '27-01-2018',
       '01-02-2018', '10-02-2018', '12-02-2018', '13-02-2018',
       '17-02-2018', '21-02-2018', '22-02-2018', '26-02-2018',
       '12-03-2018', '14-03-2018', '29-03-2018', '09-04-2018',
       '10-04-2018', '15-04-2018', '19-04-2018', '02-05-2018',
       '03-05-2018', '05-05-2018', '16-05-2018', '21-05-2018',
       '29-05-2018', '02-06-2018', '03-06-2018', '04-06-2018',
       '05-06-2018', '10-06-2018', '11-06-2018', '13-06-2018',
       '20-06-2018', '08-07-2018', '13-07-2018', '15-07-2018',
       '16-07-2018', '17-07-2018', '21-07-2018', '23-07-2018',
       '26-07-2018', '2018-07-28', '09-08-2018', '10-08-2018',
       '11-08-2018', '12-08-2018', '14-08-2018', '17-08-2018',
       '20-08-2018', '22-08-2018', '24-08-2018', '28-08-2018',
       '29-08-2018', '03-09-2018', '05-09-2018', '07-09-2018',
       '15-09-2018', '16-09-2018', '17-09-2018', '19-09-2018',
       '20-09-2018', '23-09-2018', '25-09-2018', '2018-09-27',
       '2018-10-01', '2018-10-02', '2018-10-04', '2018-10-06',
       '2018-10-07', '2018-10-08', '2018-10-11', '2018-10-17',
       '2018-10-24', '2018-10-27', '2018-11-02', '2018-11-09',
       '2018-11-12', '2018-11-14', '2018-11-15', '2018-11-16',
       '2018-11-17', '2018-11-23', '2018-11-24', '2018-11-25',
       '2018-11-26', '2018-11-27', '2018-11-28', '2018-11-30',
       '2018-12-01', '2018-12-02', '2018-12-04', '2018-12-07',
       '2018-12-09', '2018-12-11', '2018-12-12', '2018-12-13',
       '2018-12-14', '2018-12-15', '2018-12-16', '2018-12-19',
       '2018-12-20', '2018-12-21', '2018-12-22', '2018-12-24',
       '2018-12-25', '2018-12-26', '2018-12-27', '2018-12-28',
       '20-05-2013', '23-03-2013'], dtype=object)

In [48]:
test_date = test_date.str.replace('/','-')
test_date.unique()

array(['20-01-2004', '24-01-2004', '25-01-2004', '29-01-2004',
       '20-02-2004', '23-02-2004', '24-03-2004', '29-03-2004',
       '02-04-2004', '08-04-2004', '21-05-2004', '19-09-2004',
       '28-10-2004', '08-11-2004', '28-11-2004', '05-03-2005',
       '17-03-2005', '02-04-2005', '13-05-2005', '27-06-2005',
       '30-09-2005', '06-11-2005', '01-12-2005', '02-12-2005',
       '13-12-2005', '02-01-2006', '12-01-2006', '01-03-2006',
       '12-03-2006', '14-03-2006', '28-03-2006', '16-04-2006',
       '09-05-2006', '18-05-2006', '12-06-2006', '22-09-2006',
       '06-10-2006', '09-10-2006', '13-10-2006', '18-10-2006',
       '02-11-2006', '13-11-2006', '16-12-2006', '14-03-2007',
       '27-06-2007', '11-07-2007', '12-07-2007', '20-07-2007',
       '24-07-2007', '26-07-2007', '30-07-2007', '10-08-2007',
       '01-09-2007', '19-09-2007', '16-10-2007', '23-10-2007',
       '25-11-2007', '04-01-2008', '11-01-2008', '01-05-2008',
       '08-05-2008', '02-06-2008', '13-06-2008', '18-06-2008',
       '20-06-2008', '22-06-2008', '19-07-2008', '23-07-2008',
       '29-07-2008', '01-10-2008', '14-10-2008', '26-01-2009',
       '22-02-2009', '26-02-2009', '27-02-2009', '09-03-2009',
       '14-03-2009', '08-05-2009', '27-05-2009', '28-05-2009',
       '06-06-2009', '11-06-2009', '15-06-2009', '16-06-2009',
       '09-07-2009', '10-07-2009', '11-08-2009', '16-08-2009',
       '26-08-2009', '14-09-2009', '17-09-2009', '01-10-2009',
       '08-10-2009', '11-10-2009', '23-10-2009', '26-10-2009',
       '07-11-2009', '12-11-2009', '28-11-2009', '30-11-2009',
       '31-12-2009', '01-01-2010', '05-01-2010', '26-02-2010',
       '04-03-2010', '15-03-2010', '24-03-2010', '29-03-2010',
       '07-04-2010', '16-04-2010', '18-04-2010', '19-04-2010',
       '23-04-2010', '24-04-2010', '25-04-2010', '27-04-2010',
       '03-05-2010', '27-05-2010', '17-07-2010', '01-08-2010',
       '02-08-2010', '03-08-2010', '13-08-2010', '02-09-2010',
       '23-09-2010', '25-09-2010', '27-09-2010', '07-10-2010',
       '09-10-2010', '12-10-2010', '21-10-2010', '24-10-2010',
       '25-10-2010', '26-10-2010', '09-11-2010', '14-11-2010',
       '23-11-2010', '28-11-2010', '29-11-2010', '30-11-2010',
       '02-12-2010', '04-12-2010', '16-12-2010', '17-12-2010',
       '19-12-2010', '21-12-2010', '22-12-2010', '23-12-2010',
       '03-01-2011', '05-01-2011', '06-01-2011', '07-01-2011',
       '09-01-2011', '12-01-2011', '13-01-2011', '16-01-2011',
       '17-01-2011', '26-01-2011', '27-01-2011', '29-01-2011',
       '30-01-2011', '02-02-2011', '14-02-2011', '20-03-2011',
       '28-03-2011', '02-04-2011', '05-04-2011', '14-04-2011',
       '25-04-2011', '05-05-2011', '11-05-2011', '2011-05-31',
       '20-06-2011', '07-07-2011', '11-07-2011', '07-08-2011',
       '09-08-2011', '19-08-2011', '09-09-2011', '14-09-2011',
       '16-09-2011', '24-09-2011', '05-10-2011', '18-10-2011',
       '06-11-2011', '18-11-2011', '19-11-2011', '14-12-2011',
       '21-12-2011', '23-12-2011', '31-12-2011', '05-01-2012',
       '11-01-2012', '14-01-2012', '23-01-2012', '11-02-2012',
       '13-02-2012', '12-04-2012', '27-04-2012', '30-04-2012',
       '02-05-2012', '06-05-2012', '15-05-2012', '19-05-2012',
       '31-05-2012', '07-06-2012', '13-06-2012', '17-06-2012',
       '22-06-2012', '22-07-2012', '15-08-2012', '18-08-2012',
       '13-09-2012', '26-09-2012', '07-10-2012', '12-10-2012',
       '20-10-2012', '12-11-2012', '18-11-2012', '28-11-2012',
       '03-12-2012', '04-12-2012', '2013-01-16', '2013-01-29',
       '2013-01-30', '2013-02-10', '2013-02-22', '2013-03-05',
       '2013-03-11', '2013-04-14', '2013-04-16', '2013-04-22',
       '2013-05-21', '2013-06-03', '2013-06-04', '2013-06-13',
       '2013-06-19', '2013-07-08', '2013-07-09', '2013-07-13',
       '2013-07-25', '2013-08-21', '2013-09-05', '2013-09-12',
       '2013-09-14', '2013-10-10', '2013-10-16', '2013-10-22',
       '2013-11-11', '2013-11-12', '2013-11-21', '2013-11-23',
       '2013-11-25', '2013-11-26', '2013-11-28', '2013-12-23',
       '2013-12-26', '26-12-2013', '01-01-2014', '19-01-2014',
       '20-01-2014', '21-01-2014', '2014-01-24', '01-02-2014',
       '15-02-2014', '26-02-2014', '02-03-2014', '07-03-2014',
       '09-03-2014', '18-03-2014', '01-04-2014', '18-04-2014',
       '19-04-2014', '02-05-2014', '09-05-2014', '01-06-2014',
       '02-06-2014', '19-06-2014', '14-07-2014', '31-07-2014',
       '02-08-2014', '07-08-2014', '18-08-2014', '20-08-2014',
       '06-09-2014', '08-09-2014', '19-09-2014', '03-10-2014',
       '18-10-2014', '21-10-2014', '31-10-2014', '18-11-2014',
       '20-11-2014', '21-11-2014', '22-11-2014', '23-11-2014',
       '24-11-2014', '29-11-2014', '2015-01-04', '2015-01-15',
       '2015-01-29', '2015-01-30', '2015-02-03', '2015-02-13',
       '2015-03-14', '2015-03-21', '2015-04-09', '2015-04-10',
       '2015-04-13', '2015-04-20', '2015-05-15', '2015-05-23',
       '2015-06-12', '2015-06-15', '2015-06-18', '2015-06-19',
       '2015-06-22', '2015-06-26', '2015-07-01', '2015-07-04',
       '2015-07-05', '2015-07-06', '2015-07-14', '2015-07-16',
       '2015-07-17', '2015-07-19', '2015-08-13', '2015-08-15',
       '2015-08-31', '2015-09-03', '2015-09-08', '2015-09-11',
       '2015-09-12', '2015-09-14', '2015-09-20', '2015-09-22',
       '2015-10-07', '2015-10-11', '2015-10-14', '2015-10-15',
       '2015-10-20', '2015-10-25', '2015-10-30', '2015-11-02',
       '2015-11-03', '2015-11-10', '2015-11-12', '2015-11-17',
       '2015-11-21', '2015-11-22', '2015-11-25', '2015-11-27',
       '2015-11-28', '2015-11-30', '2015-12-04', '2015-12-09',
       '2015-12-13', '2015-12-16', '2015-12-27', '02-01-2016',
       '06-01-2016', '10-01-2016', '18-01-2016', '20-01-2016',
       '24-01-2016', '27-01-2016', '28-01-2016', '30-01-2016',
       '02-02-2016', '03-02-2016', '10-02-2016', '15-02-2016',
       '16-02-2016', '17-02-2016', '28-02-2016', '29-02-2016',
       '01-03-2016', '06-03-2016', '09-03-2016', '11-03-2016',
       '21-03-2016', '22-03-2016', '25-03-2016', '27-03-2016',
       '07-04-2016', '11-04-2016', '16-04-2016', '20-05-2016',
       '22-05-2016', '29-05-2016', '30-05-2016', '06-06-2016',
       '07-06-2016', '11-06-2016', '15-06-2016', '18-06-2016',
       '19-06-2016', '21-06-2016', '26-06-2016', '05-07-2016',
       '06-07-2016', '12-07-2016', '14-07-2016', '19-07-2016',
       '25-07-2016', '26-07-2016', '07-08-2016', '10-08-2016',
       '18-08-2016', '21-08-2016', '24-08-2016', '26-08-2016',
       '31-08-2016', '05-09-2016', '16-09-2016', '17-09-2016',
       '18-09-2016', '23-09-2016', '09-10-2016', '13-10-2016',
       '28-10-2016', '05-11-2016', '09-11-2016', '22-11-2016',
       '23-11-2016', '28-11-2016', '30-11-2016', '07-12-2016',
       '17-12-2016', '24-12-2016', '2016-12-26', '2017-01-01',
       '2017-01-02', '2017-01-05', '2017-01-06', '2017-01-09',
       '2017-01-17', '2017-01-18', '2017-01-25', '2017-01-26',
       '2017-01-29', '2017-01-31', '2017-02-03', '2017-02-08',
       '2017-02-15', '2017-02-24', '2017-02-25', '2017-02-26',
       '2017-03-04', '2017-03-08', '2017-03-13', '2017-03-18',
       '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-31',
       '2017-04-01', '2017-04-03', '2017-04-05', '2017-04-07',
       '2017-04-10', '2017-04-11', '2017-04-13', '2017-04-16',
       '2017-04-17', '2017-04-22', '2017-04-25', '2017-05-01',
       '2017-05-03', '2017-05-05', '2017-05-06', '2017-05-07',
       '2017-05-10', '2017-05-15', '2017-05-19', '2017-05-21',
       '2017-05-24', '2017-05-25', '25-05-2017', '2017-05-27',
       '2017-05-28', '2017-05-30', '2017-06-03', '2017-06-07',
       '2017-06-08', '2017-06-09', '2017-06-10', '2017-06-13',
       '2017-06-14', '2017-06-15', '2017-06-19', '2017-06-21',
       '2017-06-27', '08-07-2017', '20-07-2017', '22-07-2017',
       '25-07-2017', '30-07-2017', '01-08-2017', '04-08-2017',
       '05-08-2017', '10-08-2017', '11-08-2017', '14-08-2017',
       '15-08-2017', '18-08-2017', '19-08-2017', '20-08-2017',
       '22-08-2017', '23-08-2017', '24-08-2017', '25-08-2017',
       '26-08-2017', '29-08-2017', '31-08-2017', '01-09-2017',
       '03-09-2017', '06-09-2017', '09-09-2017', '11-09-2017',
       '12-09-2017', '16-09-2017', '17-09-2017', '18-09-2017',
       '19-09-2017', '20-09-2017', '22-09-2017', '28-09-2017',
       '01-10-2017', '06-10-2017', '08-10-2017', '10-10-2017',
       '11-10-2017', '12-10-2017', '13-10-2017', '14-10-2017',
       '15-10-2017', '16-10-2017', '18-10-2017', '19-10-2017',
       '21-10-2017', '22-10-2017', '23-10-2017', '24-10-2017',
       '28-10-2017', '30-10-2017', '01-11-2017', '02-11-2017',
       '05-11-2017', '06-11-2017', '09-11-2017', '12-11-2017',
       '13-11-2017', '14-11-2017', '15-11-2017', '16-11-2017',
       '17-11-2017', '20-11-2017', '21-11-2017', '24-11-2017',
       '2017-11-25', '25-11-2017', '26-11-2017', '27-11-2017',
       '28-11-2017', '29-11-2017', '03-12-2017', '05-12-2017',
       '07-12-2017', '09-12-2017', '11-12-2017', '12-12-2017',
       '13-12-2017', '20-12-2017', '21-12-2017', '02-01-2018',
       '09-01-2018', '10-01-2018', '11-01-2018', '12-01-2018',
       '13-01-2018', '16-01-2018', '25-01-2018', '27-01-2018',
       '01-02-2018', '10-02-2018', '12-02-2018', '13-02-2018',
       '17-02-2018', '21-02-2018', '22-02-2018', '26-02-2018',
       '12-03-2018', '14-03-2018', '29-03-2018', '09-04-2018',
       '10-04-2018', '15-04-2018', '19-04-2018', '02-05-2018',
       '03-05-2018', '05-05-2018', '16-05-2018', '21-05-2018',
       '29-05-2018', '02-06-2018', '03-06-2018', '04-06-2018',
       '05-06-2018', '10-06-2018', '11-06-2018', '13-06-2018',
       '20-06-2018', '08-07-2018', '13-07-2018', '15-07-2018',
       '16-07-2018', '17-07-2018', '21-07-2018', '23-07-2018',
       '26-07-2018', '2018-07-28', '09-08-2018', '10-08-2018',
       '11-08-2018', '12-08-2018', '14-08-2018', '17-08-2018',
       '20-08-2018', '22-08-2018', '24-08-2018', '28-08-2018',
       '29-08-2018', '03-09-2018', '05-09-2018', '07-09-2018',
       '15-09-2018', '16-09-2018', '17-09-2018', '19-09-2018',
       '20-09-2018', '23-09-2018', '25-09-2018', '2018-09-27',
       '2018-10-01', '2018-10-02', '2018-10-04', '2018-10-06',
       '2018-10-07', '2018-10-08', '2018-10-11', '2018-10-17',
       '2018-10-24', '2018-10-27', '2018-11-02', '2018-11-09',
       '2018-11-12', '2018-11-14', '2018-11-15', '2018-11-16',
       '2018-11-17', '2018-11-23', '2018-11-24', '2018-11-25',
       '2018-11-26', '2018-11-27', '2018-11-28', '2018-11-30',
       '2018-12-01', '2018-12-02', '2018-12-04', '2018-12-07',
       '2018-12-09', '2018-12-11', '2018-12-12', '2018-12-13',
       '2018-12-14', '2018-12-15', '2018-12-16', '2018-12-19',
       '2018-12-20', '2018-12-21', '2018-12-22', '2018-12-24',
       '2018-12-25', '2018-12-26', '2018-12-27', '2018-12-28',
       '20-05-2013', '23-03-2013'], dtype=object)

In [49]:
test_date =  pd.to_datetime(test_date, format="%d-%m-%Y", errors="coerce").fillna(pd.to_datetime(test_date, format="%Y-%m-%d", errors="coerce"))
test_date = test_date.dt.date
test_date

0      2004-01-20
1      2004-01-24
2      2004-01-25
3      2004-01-29
4      2004-01-29
          ...
830    2018-12-28
831    2013-05-20
832    2013-03-23
833    2009-01-26
834    2009-01-26
Name: Date (Event), Length: 833, dtype: object

# Common Words for search
https://stackoverflow.com/questions/2452982/how-to-extract-common-significant-phrases-from-a-series-of-text-entries

In [50]:
common_words = ['it', 'is', 'not', 'a', 'but', 'on', 'the', 'in', 'all', 'ways','of', 'to', 'and', 'was', 'by', 'that', 'for', 'at', 'were', 'an', 'have', 'said','are', 'been', 'had', 'with', 'from', 'as', 'he', 'has', 'its', 'be', 'they', 'after','one','two','three','four','1','2','3','4','male','female']
common_set = set(common_words)

In [51]:
title_eda = train['Title'].replace(to_replace='\(', value="", regex=True)
title_eda = title_eda.replace(to_replace='\)', value="", regex=True)
title_eda = title_eda.replace(to_replace='\,', value="", regex=True)

In [52]:
frequent_title = pd.Series(' '.join(title_eda).lower().split()).value_counts()[:70]
frequent_title[[s for s in frequent_title.index if not s in common_set]]

elephant         446
india            399
found            183
dead             164
electrocuted     152
elephants        147
tusker           102
wild              93
state             87
dies              86
jumbo             84
district          71
forest            64
killed            58
calf              57
death             54
sri               53
lanka             51
carcass           40
odisha            39
poachers          39
indonesia         36
jumbos            35
assam             35
shot              34
tusks             34
another           32
near              29
thailand          25
injured           25
tamil             24
nadu              24
electrocution     23
sumatran          22
suspected         21
officials         21
deaths            20
kill              20
electric          19
kills             19
wildlife          17
poisoned          17
villagers         16
into              16
malaysia          15
reserve           15
ivory             15
jharkhand         15
die               15
wire              14
bengal            14
more              13
dtype: int64

# Saving as .txt for google cloud auto ml

In [55]:
i = 0
for row in train['Article']:
    if i > len(train['Article']):
       break
    else:
       f = open(str(i)+'.txt', 'w')
       f.write(row)
       f.close()
       i+=1

# Import various news data to add to training data

In [ ]:
!unzip /content/drive/MyDrive/all-the-news-2-1.zip -d /content/
#all_news = pd.read_csv("/content/all-the-news-2-1.csv", sep=',', usecols=['publication','article','date','title'])
all_news = pd.read_csv("/content/all-the-news-2-1.csv", sep=',', usecols=['article'])

Archive:  /content/drive/MyDrive/all-the-news-2-1.zip
  inflating: /content/all-the-news-2-1.csv

In [ ]:
#all_news['date'] =  pd.to_datetime(all_news['date'], format="%Y-%m-%d %H:%M:%S", errors="coerce")
#all_news['date'] = all_news['date'].dt.date
#all_news.rename(columns={'date': 'Date Published', 'title': 'Title', 'article': 'Article', 'publication': 'Source', }, inplace=True)
#all_news.rename(columns={'title': 'Title', 'article': 'Article'}, inplace=True)
all_news.rename(columns={'article': 'Article'}, inplace=True)
all_news.head()

                                                                                                                                                                                                                                                                                                                                                                                                           Article
0  This post is part of Polyarchy, an independent blog produced by the political reform program at New America, a Washington think tank devoted to developing new ideas and new voices. Imagine you are an otherwise healthy 30-something who starts feeling weird. You are sometimes short of breath. You get migraines. Your feet start to swell a little. But otherwise, everything seems fine. You go to th...
1   The Indianapolis Colts made Andrew Luck the highest-paid player in NFL history this offseason with a five-year, $122-million contract with $89 million guaranteed. However, they're already finding that Luck's contract is inhibiting their ability to address weaknesses on other parts of the roster, particularly on defense. On Friday, Colts GM Ryan Grigson, who is under fire for the Colts 1-3 sta...
2  DAVOS, Switzerland (Reuters) - U.S. President Donald Trump denied a report on Friday that he had ordered Special Counsel Robert Mueller fired last June, calling it “fake news”.  The New York Times reported on Thursday that Trump backed down from his order after the White House counsel threatened to resign rather than follow his directive, citing four people told of the matter.  “Fake news, fol...
3  PARIS (Reuters) - Former French president Nicolas Sarkozy published a new memoir on Thursday but was quick to dismiss speculation he might return to politics to rescue his old center-right party, which has shed support since President Emmanuel Macron stormed to power.  Entitled “Passions”, the autobiography documents Sarkozy’s rise to power, while hurling barbs at some of his former allies, in...
4  Paris Hilton arrived at LAX Wednesday dressed to pay her last respects to her uncle Monty Brinson. Paris flew in from Switzerland especially for the funeral of Brinson, who used to be married to her aunt Kim Richards. Monty died Sunday after a long battle with cancer ... and the loss is obviously hitting Paris hard. She posted a picture collage with Monty calling him an "incredible man with su...

In [ ]:
all_news['Y'] = 0
all_news.head()

,Article,Y
0,"This post is part of Polyarchy, an independent blog produced by the political reform program at New America, a Washington think tank devoted to developing new ideas and new voices. Imagine you are an otherwise healthy 30-something who starts feeling weird. You are sometimes short of breath. You get migraines. Your feet start to swell a little. But otherwise, everything seems fine. You go to th...",0
1,"The Indianapolis Colts made Andrew Luck the highest-paid player in NFL history this offseason with a five-year, $122-million contract with $89 million guaranteed. However, they're already finding that Luck's contract is inhibiting their ability to address weaknesses on other parts of the roster, particularly on defense. On Friday, Colts GM Ryan Grigson, who is under fire for the Colts 1-3 sta...",0
2,"DAVOS, Switzerland (Reuters) - U.S. President Donald Trump denied a report on Friday that he had ordered Special Counsel Robert Mueller fired last June, calling it “fake news”. The New York Times reported on Thursday that Trump backed down from his order after the White House counsel threatened to resign rather than follow his directive, citing four people told of the matter. “Fake news, fol...",0
3,"PARIS (Reuters) - Former French president Nicolas Sarkozy published a new memoir on Thursday but was quick to dismiss speculation he might return to politics to rescue his old center-right party, which has shed support since President Emmanuel Macron stormed to power. Entitled “Passions”, the autobiography documents Sarkozy’s rise to power, while hurling barbs at some of his former allies, in...",0
4,"Paris Hilton arrived at LAX Wednesday dressed to pay her last respects to her uncle Monty Brinson. Paris flew in from Switzerland especially for the funeral of Brinson, who used to be married to her aunt Kim Richards. Monty died Sunday after a long battle with cancer ... and the loss is obviously hitting Paris hard. She posted a picture collage with Monty calling him an ""incredible man with su...",0

In [ ]:
train['Y'] = 1
train.drop(['Source', 'Date Published', 'Title'], axis=1, inplace=True)
train.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Article,Y
0,"Asian elephants electrocuted after drinking session\r\nAnanova\r\nJanuary 20, 2004\r\n\r\nFour wild Asian elephants that got drunk on rice beer have been electrocuted \r\nin the northern Indian state of Meghalaya.\r\n\r\nA forest official said a herd of about 24 elephants went on the rampage in a \r\nremote area in the West Garo Hills district.\r\n\r\n""The elephants, after getting high on rice...",1
1,"2 HELD FOR ELEPHANTS ELECTROCUTION\r\nThe Hindu\r\nJanuary 27, 2004\r\n\r\nTwo farm assistants have been taken into custody by special teams of the \r\nForest department in connection with the electrocution of a tusker and a \r\nfemale elephant at two places in the Coimbatore reserve forest division. One \r\nincident was reported on Saturday night and the other on Sunday. The female \r\nelepha...",1
2,"2 HELD FOR ELEPHANTS ELECTROCUTION\r\nThe Hindu\r\nJanuary 27, 2004\r\n\r\nTwo farm assistants have been taken into custody by special teams of the \r\nForest department in connection with the electrocution of a tusker and a \r\nfemale elephant at two places in the Coimbatore reserve forest division. One \r\nincident was reported on Saturday night and the other on Sunday. The female \r\nelepha...",1
3,"TWO ELEPHANTS IN RIAU POISONED TO DEATH\r\nAntara - The Indonesian National News Agency\r\nJanuary 29, 2004\r\n\r\nPekanbaru, Jan 29 (ANTARA) - Two male elephants were found dead after being \r\npoisoned by unidentified persons at spot near the elephant training center \r\n(PTL) in Duri area, Bengkalis district, Riau, recently.\r\n\r\nChairman of a local non-governmental organization on wildli...",1
4,"EXPERTS CALL FOR INVESTIGATION ON KILLING OF ELEPHANTS IN INDON PROVINCE\r\nAntara - The Indonesian National News Agency\r\nJanuary 29, 2004\r\n\r\nBandar Lampung, Lampung, Jan 29 (ANTARA) - A number of environmental \r\nactivists in Indonesia's Lampung province have urged concerned agencies to \r\nlook into the killing of four elephants at the Bukit Barisan National Park, \r\na spokesman has ...",1

In [ ]:
train = pd.concat([train, all_news])
del all_news
gc.collect()
train.head()

,Article,Y
0,"Asian elephants electrocuted after drinking session\r\nAnanova\r\nJanuary 20, 2004\r\n\r\nFour wild Asian elephants that got drunk on rice beer have been electrocuted \r\nin the northern Indian state of Meghalaya.\r\n\r\nA forest official said a herd of about 24 elephants went on the rampage in a \r\nremote area in the West Garo Hills district.\r\n\r\n""The elephants, after getting high on rice...",1
1,"2 HELD FOR ELEPHANTS ELECTROCUTION\r\nThe Hindu\r\nJanuary 27, 2004\r\n\r\nTwo farm assistants have been taken into custody by special teams of the \r\nForest department in connection with the electrocution of a tusker and a \r\nfemale elephant at two places in the Coimbatore reserve forest division. One \r\nincident was reported on Saturday night and the other on Sunday. The female \r\nelepha...",1
2,"2 HELD FOR ELEPHANTS ELECTROCUTION\r\nThe Hindu\r\nJanuary 27, 2004\r\n\r\nTwo farm assistants have been taken into custody by special teams of the \r\nForest department in connection with the electrocution of a tusker and a \r\nfemale elephant at two places in the Coimbatore reserve forest division. One \r\nincident was reported on Saturday night and the other on Sunday. The female \r\nelepha...",1
3,"TWO ELEPHANTS IN RIAU POISONED TO DEATH\r\nAntara - The Indonesian National News Agency\r\nJanuary 29, 2004\r\n\r\nPekanbaru, Jan 29 (ANTARA) - Two male elephants were found dead after being \r\npoisoned by unidentified persons at spot near the elephant training center \r\n(PTL) in Duri area, Bengkalis district, Riau, recently.\r\n\r\nChairman of a local non-governmental organization on wildli...",1
4,"EXPERTS CALL FOR INVESTIGATION ON KILLING OF ELEPHANTS IN INDON PROVINCE\r\nAntara - The Indonesian National News Agency\r\nJanuary 29, 2004\r\n\r\nBandar Lampung, Lampung, Jan 29 (ANTARA) - A number of environmental \r\nactivists in Indonesia's Lampung province have urged concerned agencies to \r\nlook into the killing of four elephants at the Bukit Barisan National Park, \r\na spokesman has ...",1

In [ ]:
train = train[train.Article.notna()]
train = train[train.Y.notna()]

In [ ]:
train.isnull().values.any()

False

In [ ]:
train[train.Article.isnull()]

Empty DataFrame
Columns: [Article, Y]
Index: []

# Validation Set

In [ ]:
def split_data(df, test_percentage,cv):
  train, test = train_test_split(df, test_size=int(test_percentage*len(df)), stratify = df["Y"])
  val = None
  if cv == True:
    train, val = train_test_split(df, test_size=int(test_percentage*len(df)), stratify = df["Y"])
  return train, test, val

In [ ]:
train, test, val = split_data(train, 0.2, True)
train_y = train['Y'].to_numpy()
test_y = test['Y'].to_numpy()
val_y = val['Y'].to_numpy()
train.drop(columns='Y', inplace=True)
test.drop(columns='Y', inplace=True)
val.drop(columns='Y', inplace=True)
train =  train.to_numpy()
test =  test.to_numpy()
val =  val.to_numpy()

# Trying out NLP
*   https://www.tensorflow.org/hub/tutorials/tf2_text_classification#create_a_validation_set
*   https://www.tensorflow.org/hub/tutorials/bert_experts
*  https://www.tensorflow.org/hub/tutorials/semantic_similarity_with_tf_hub_universal_encoder
* https://www.tensorflow.org/hub/tutorials/semantic_similarity_with_tf_hub_universal_encoder

## Encoding to help represent text as vectors for input to a model
Tried out spacy and tensorflow

In [ ]:
#spacy.cli.download("en_core_web_trf")
#nlp = spacy.load("en_core_web_trf")

In [ ]:
#doc = nlp(train['Article'][1])
#displacy.render(doc, style='ent', jupyter=True)

In [ ]:
train = train.squeeze()
train

array(['WASHINGTON, May 17 (Reuters) - U.S. government officials on Thursday are set to begin investigating Boeing Co’s unfair trade claims against Canadian rival Bombardier, a two-track action that could lead to U.S. duties on Bombardier’s new jetliner and also pits Boeing against Delta Air Lines Inc. The U.S. Commerce Department is poised to announce the launch of its investigation. U.S. International Trade Commission (USITC) staff will hear testimony from both companies and from Bombardier customer Delta in the case. Boeing alleges that Bombardier’s new 100-150 seat CSeries jetliners are being dumped below cost in the U.S. market, and are unfairly subsidized by Canadian taxpayers. The new Canadian aircraft competes with Boeing’s 737-700 and 737 MAX 7 jets. Delta agreed last year to buy dozens of CSeries planes at a price that Boeing says was well below Bombardier’s cost. The case has increased trade tensions between the United States and Canada - along with disputes over Canadian softwood lumber and U.S. milk protein products - as both countries prepare for a possible renegotiation of the North American Free Trade Agreement under the “America First” trade policy of U.S. President Donald Trump. The Commerce Department is expected to proceed with the antidumping and antisubsidy claims, trade lawyers and experts said. “Commerce is going to go forward, there’s no doubt about it,” said William Perry, a Seattle-based trade lawyer and a former USITC staff attorney. The investigation is the latest to hit Bombardier after Brazil launched a trade dispute against Canada at the World Trade Organization, similarly alleging unfair competition. Brazilian officials welcomed the U.S. probe as support to the South America country’s claim that Canada’s support for Bombardier’s CSeries undercuts the market for commercial jets made by Brazilian rival Embraer. A Commerce Department investigation into Boeing’s claims could be cut short if the USITC rejects it in a vote expected on June 12. If the trade body allows the probe to continue, the Commerce Department would then need to determine any preliminary anti-subsidy duties by around July 22, with a deadline for preliminary anti-dumping duties around Oct. 3. The Commerce Department last month began collecting duties averaging 20 percent on imports of Canadian softwood lumber, saying that the product’s origin from public land amounted to an unfair government subsidy. Boeing said in its petition that Bombardier, determined to win a key order from Delta after losing a competition at United Airlines, had offered its planes to the airline at an “absurdly low” $19.6 million each, well below what it described as the aircraft’s production cost of $33.2 million. Boeing’s similarly sized 737-700 model has a current list price of $82.4 million, with the new 737-MAX 7 priced at $92.2 million. Sales discounts from list prices are typically 40 percent to 50 percent in the industry. In April 2016, Bombardier won the Delta order, its biggest yet, for 75 CS100 jets, worth an estimated $5.6 billion based on the list price of about $71.8 million. In its complaint against Bombardier, Boeing argued that the CSeries program would not exist without hundreds of millions of dollars in launch aid from the governments of Canada, Quebec and Britain, or a $2.5 billion equity infusion from Quebec and its largest pension fund in 2015. If Commerce’s investigation finds that duties on the Bombardier aircraft are warranted, those would likely be imposed on Delta. Representatives for the airline are scheduled to appear at Thursday’s hearing to oppose Boeing’s call for duties. “Delta is no pushover,” said Gary Hufbauer, a senior fellow and trade expert at the Peterson Institute for International Economics, said of the Atlanta-based carrier. “They’ll have the Georgia delegation behind them, and likely a lot of others in Congress.” (Additional reporting by Alwyn Scott in Seattle, Tim Hepher in Paris, David Ljunggren in Ottawa, Allison Lampert in Montreal and Alonso Soto in Brasilia; Writing by David Lawder; Editing by Bill Rigby and Leslie Adler)',
       '(Adds details from early trade, updates prices) * TSX falls 88.99 points, or 0.62 percent, to 14,224.11 * Eight of the TSX’s 10 main groups move lower TORONTO, June 9 (Reuters) - Canada’s main stock index fell on Thursday as a pullback in crude oil prices weighed on energy stocks after three days of gains that pushed oil to 2016 highs. Financial stocks also pulled the Toronto Stock Exchange’s S&P/TSX composite index lower, hurt by a fall in global bond yields as investors moved on waning expectations of higher U.S. interest rates. The most influential movers on the index included Manulife Financial, which declined 2 percent to C$18.64. Royal Bank of Canada fell 1.1 percent to C$78.92, Toronto-Dominion Bank lost 0.9 percent to C$57.08, and the heavyweight financials group slipped 0.9 percent overall. The energy group retreated 0.9 percent, with Canadian Natural Resources down 0.7 percent to C$38.32. U.S. crude prices were down 1.4 percent at $50.52 a barrel, while Brent lost 1.3 percent to $51.84. At 10:13 a.m. EDT (1413 GMT), the Toronto index was down 88.99 points, or 0.62 percent, to 14,224.11. Eight of its 10 main groups were in negative territory, with three decliners for every gainer. Baytex Energy Corp declined 1.5 percent to C$8.30 after a sharp jump in recent days. The company has restarted nearly all the heavy crude output it shut last year, encouraged by the months-long rally in oil prices, a source familiar with the matter said on Wednesday. Industrials fell 0.6 percent, while the materials group, which includes precious and base metals miners and fertilizer companies, lost 0.5 percent. Gold futures rose 0.3 percent to $1,263.9 an ounce and copper prices declined 1.6 percent to $4,506.5 a tonne. (Reporting by Alastair Sharp; Editing by James Dalgleish)',
       "In the United States, Easter is all about baskets brimming with candy and, from a religious standpoint, the resurrection of Jesus Christ. But, while Christians in the States are out hunting for pastel-dyed eggs, Norwegians are cozied up reading riveting tales of deceit and murder. For over 90 years, citizens of the Scandinavian nation have celebrated the holiday by reading and watching works in the tantalizing genre of true crime. According to British weekly magazine The Spectator, this tradition started in 1932, when authors Nordahl Grieg and Nils Lie engaged in their own unique brand of guerilla marketing for their book about a train robbery that took place on Easter. Instead of posting a conventional ad in the newspaper, they published an excerpt from the book on the front page. For whatever reason, this work of pure fiction ended up looking like actual news (maybe it was because the book's title, translated from the original Norwegian, was The Bergen train was robbed in the night). Once that confusion was cleared up, people bought the book in droves. What was already a popular genre became inextricably linked to the Easter season in the public imagination. And so, the tradition of påskekrim was born. Since then, the custom has expanded beyond mere books, and for good reason: The week leading up to Easter, known as Holy Week, is a public holiday in Norway, so nearly everyone has off from work and school. It's not uncommon for people spend their break in vacation cabins in the mountains. Cooped and surrounded by snow for at least a week, it's fair to say that the people of Norway have a lot of free time on their hands this time of year. So, not only do special TV series air in the name of påskekrim, but milk cartons with comics posted on their sides invite people to participate in real time and solve the mystery that unfolds in comic's panels. Norwegian teen Margit Brooks tells Refinery29 that the lucky sleuths who figure out whodunit win a prize. That alone would keep us busy for a week. If this sounds too odd to be true, just check Instagram. Using the hashtags #påskekrim and #eastercrime, Norwegians users post photos of their true crime novel of choice, usually accompanied by a mug of tea, glass of wine, or other cozy accoutrements. Looks pleasant enough to forget that Easter, in general, has nothing to do with true crime, if you ask us. Besides, it isn't like the Easter Bunny makes a ton of sense, either. Read these stories next:Our Favorite Crime Shows Of All Time 11 Brunch Ideas To Get Things Hoppin' This Easter The Limited Edition Easter Candy Worth An Egg Hunt Battle This Year",
       ...,
       '(Adds details throughout on stocks and sectors, updates prices) * TSX up 49.82 points, or 0.35 percent, to 14,136.49 * Five of TSX’s 10 main groups rise TORONTO, May 31 (Reuters) - Canada’s main stock index rose on Tuesday to a new nine-month high as higher commodities supported energy and mining stocks. The most influential movers on the index included Canadian Natural Resources Ltd, which rose 1.6 percent to C$39.17, and Enbridge Inc, which advanced 3.2 percent to C$22.23. The overall energy group rose 1.4 percent, while U.S. crude prices were up 1.2 percent to $49.94 a barrel. The materials group, which includes precious and base metals miners and fertilizer companies, added 2.2 percent. Barrick Gold climbed 3.1 percent to C$22.21, while Goldcorp Inc was up 2.6 percent at C$22.21 as spot gold gained 0.7 percent. At 10:41 a.m. EDT (1441 GMT), the Toronto Stock Exchange’s S&P/TSX composite index rose 49.82 points, or 0.35 percent, to 14,136.49. The index touched its highest level since Aug. 19 at 14,172.35. It has rallied more than 22 percent from an almost 3-1/2-year low in January. Five of the index’s 10 main groups were higher. Bank of Nova Scotia reported second-quarter results below market expectations and increased funds set aside to cover bad loans by 40 percent as lending to energy companies turned sour. Its shares fell 0.4 percent to C$64.71, while the overall financials group dipped 0.1 percent. Healthcare stocks fell 2 percent, while consumer discretionary stocks were down 0.4 percent. Canada’s economic growth accelerated less than expected in the first three months of the year and appeared to slow heading into the second quarter, data from Statistics Canada showed. (Reporting by Fergal Smith; Editing by Paul Simao)',
       '(Adds CEO’s full name in paragraph 3) PARIS, Feb 25 (Reuters) - French cooperative group InVivo aims to expand its new internet platform for farm products to reach at least 3 billion euros ($3.25 billion) in sales by 2030, as it brings in partners from other countries and adds new products, it said on Tuesday. Betting on more digitalisation in agriculture, InVivo invested 50 million euros in developing Aladin, which was launched last year as a marketplace for farm supplies along the lines of online retailer Amazon. Aladin sells seeds and pesticides to nine cooperatives representing 50,000 farmers and aims to reach 100,000 farmers in the 2020/21 season and sales of 100 million-120 million euros, Chief Executive Thierry Blandinieres said. Online sales would initially come by replacing direct sales for such products that now total to 1.2 billion euros, before expanding into new offerings, Blandinieres said. “We will go 360 degrees around the farmer and propose agriculture machinery, equipment, services like insurance, and this is where we will be able to reach a second phase to attain 3 to 4 billion euros in 2030,” Blandinieres told reporters at the Paris farm show. InVivo, a grouping of some 200 agricultural cooperatives, is presenting the project to other cooperatives in northern Europe and Switzerland and hopes to reach a deal with at least one of them within a few months, Blandinieres said. This would likely be through a contract to use the platform rather than a joint venture, he said. InVivo generated sales of 5.2 billion euros in its 2018/19 year to June 30 from its activities that also span grain trading, garden retailing and wine distribution. After selling its animal nutrition unit Neovia to U.S. agribusiness group Archer Daniels Midland in 2018, InVivo had said it would invest in farming solutions and acquisitions in the wine sector. $1 = 0.9227 euros\nReporting by Sybille de La Hamaide; Editing by Edmund Blair',
       'News that the University of Cambridge made Stephen Hawking\'s seminal doctoral thesis (on how universes expand) publicly available sent positive shockwaves out to physics fans around the world.\xa0 The response has been so overwhelming that the number of people trying to access the thesis actually crashed Cambridge University\'s open access repository site.\xa0 "We have had a huge response to Professor Hawking\'s decision to make his PhD thesis publicly available to download, with 60,000 downloads in less than 24 hours," a spokesperson for the University of Cambridge said in a statement to Mashable. "As a result, visitors to our open access site may find that it is performing slower than usual and may at times be temporarily unavailable."\xa0 The spokesperson added that 409,977 people have viewed the repository page with the thesis since the announcement yesterday.\xa0 Fancy a bit of light reading? We\'ve put #StephenHawking\'s 1966 PhD thesis online to celebrate #openaccessweek https://t.co/bakmB4kRtl — Cambridge University (@Cambridge_Uni) October 23, 2017 The site couldn\'t be reached when Mashable attempted to access it this morning.\xa0  Hawking wrote his thesis, entitled Properties of Expanding Universes in 1966 and recently gave his permission to make the document available. It quickly became the most requested item in the university\'s open access repository. “By making my PhD thesis Open Access, I hope to inspire people around the world to look up at the stars and not down at their feet; to wonder about our place in the universe and to try and make sense of the cosmos," Hawking said in a statement.\xa0 '],
      dtype=object)

In [ ]:
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder-large/5")
embed_layer = hub.KerasLayer(embed, input_shape=[], dtype=tf.string, trainable=True)
embed_layer(train)

In [ ]:
model = tf.keras.Sequential()
model.add(embed_layer)
#model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dense(1))
model.summary()
model.compile(optimizer='adam',
              loss=tf.losses.BinaryCrossentropy(from_logits=True),
              metrics=[tf.metrics.BinaryAccuracy(threshold=0.0, name='accuracy')])
history = model.fit(train,
                    train_y,
                    epochs=1,
                    batch_size=10,
                    validation_data=(val,val_y),
                    verbose=1)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer (KerasLayer)    (None, 512)               147354880

 dense (Dense)               (None, 1)                 513

=================================================================
Total params: 147,355,393
Trainable params: 147,355,393
Non-trainable params: 0
_________________________________________________________________

In [ ]:
print("Input")
[print(i.shape, i.dtype) for i in model.inputs]
print("Out")
[print(o.shape, o.dtype) for o in model.outputs]
print("---")
[print(l.name, l.input_shape, l.dtype) for l in model.layers]